{% extends 'modules/_main.twig' %}
{% block meta %}
    <title>Статья</title>
{% endblock %}


{% block content %}
    <div class="article">
        <div class="article-body block">
            <div class="article-body__wrapper block__wrapper">

                <div class="article-about">
                    <div class="article-about__header">
                        <div class="crumbs crumbs_article">
                            <a href="#" class="crumbs__item">Все события</a>
                        </div>
                    </div>
                    <div class="article-about__descr">
                        <h1 class="article__title">H1. Жим штанги лежа: битва железных мускулов! Начинаем подготовку.</h1>
                    </div>

                    <div class="events-item events-item_article">
                        <div class="events-item__descr">
                            <div class="events-item__info events-item__info_date">17 августа</div>
                        </div>
                        <div class="events-item__tags">
                            <a href="#" class="events-item__tag events-item__tag_turquoise events-item__tag_filled"><span>Мероприятия</span></a>
                            <a href="#" class="events-item__tag events-item__tag_pink"><span>Грудничковое плавание</span></a>
                            <a href="#" class="events-item__tag events-item__tag_blue"><span>Соревнования</span></a>
                        </div>
                    </div>
                </div>

                <div class="article-widgets">

                    <div class="article-widget article-widget_text size-3">
                        <p>
                            Для тех, кто мечтает в совершенстве владеть своим телом, уметь пластично и красиво двигаться.
                            Развивает координацию и дает возможность ощутить свободу движения!
                        </p>
                    </div>

                    <div class="article-widget article-widget_image size-3">
                        <div class="article-img">
                            <img class="article-img__photo" src="/images/temp/article.jpg" alt="">
                        </div>
                    </div>

                    <div class="article-widget article-widget_title size-3">
                        <h2>H2. Кто может попробовать свои силы?</h2>
                    </div>

                    <div class="article-widget article-widget_image size-2">
                        <div class="article-img">
                            <img class="article-img__photo" src="/images/temp/article.jpg" alt="">
                        </div>
                    </div>

                    <div class="article-widget article-widget_image size-1">
                        <div class="article-img">
                            <img class="article-img__photo" src="/images/temp/article.jpg" alt="">
                        </div>
                    </div>

                    <div class="article-widget article-widget_list size-3">
                        <ul type='disc'>
                            <li>Среди юношей до 18 лет (включительно) в абсолютной категории;</li>
                            <li>Среди мужчин: до 80 кг, до 100 кг, свыше 100 кг.</li>
                            <li>Среди девушек (Open): до 55 кг, свыше 55 кг</li>
                        </ul>
                    </div>

                    <div class="article-widget article-widget_list  size-3">
                        <ol>
                            <li>Среди юношей до 18 лет (включительно) в абсолютной категории;</li>
                            <li>Среди мужчин: до 80 кг, до 100 кг, свыше 100 кг.</li>
                            <li>Среди девушек (Open): до 55 кг, свыше 55 кг</li>
                        </ol>
                    </div>

                    <div class="article-widget article-widget_title size-3">
                        <h3>H3. Программа соревнований</h3>
                    </div>

                    <div class="article-widget article-widget_text size-3">
                        <p>
                            К участию допускаются все спортсмены, занимающиеся в сети клубов «Магис Спорт», старше 14 лет и
                            предоставившие именные заявки на участие в соревнованиях.
                            <span>До старта осталось чуть больше месяца</span>, самое время начать подготовку и показать лучший результат!
                        </p>
                        <p>
                            Соревнования по русскому жиму проводятся по действующим правилам МРОО «<a href="#">Федерация русского жима</a>» в номинации «Классический русский жим»,
                            все участники выполняют по одному зачетному подходу на максимально возможное количество повторений к фиксированному весу штанги в той номинации,
                            которую выбрали самостоятельно. В зачет идет результат не менее восьми повторений. Победители и призеры выявляются по формуле коэффициента атлетизма
                            «Вес штанги (кг) умножается на количество повторений,
                            полученный тоннаж делится на собственный вес спортсмена, и получаем личный коэффициент атлетизма (
                            КА) каждого спортсмена. Показанное значение округляется до второй цифры после запятой.»
                        </p>
                    </div>

                    <div class="article-widget article-widget_text size-1">
                        <p>
                            К участию допускаются все спортсмены, занимающиеся в сети клубов «Магис Спорт», старше 14 лет и
                            предоставившие именные заявки на участие в соревнованиях.
                            <span>До старта осталось чуть больше месяца</span>, самое время начать подготовку и показать лучший результат!
                        </p>
                    </div>

                    <div class="article-widget article-widget_text size-2">
                        <p>
                            К участию допускаются все спортсмены, занимающиеся в сети клубов «Магис Спорт», старше 14 лет и
                            предоставившие именные заявки на участие в соревнованиях.
                            <span>До старта осталось чуть больше месяца</span>, самое время начать подготовку и показать лучший результат!
                        </p>
                        <p>
                            Соревнования по русскому жиму проводятся по действующим правилам МРОО «<a href="#">Федерация русского жима</a>» в номинации «Классический русский жим»,
                            все участники выполняют по одному зачетному подходу на максимально возможное количество повторений к фиксированному весу штанги в той номинации,
                            которую выбрали самостоятельно. В зачет идет результат не менее восьми повторений. Победители и призеры выявляются по формуле коэффициента атлетизма
                            «Вес штанги (кг) умножается на количество повторений,
                            полученный тоннаж делится на собственный вес спортсмена, и получаем личный коэффициент атлетизма (
                            КА) каждого спортсмена. Показанное значение округляется до второй цифры после запятой.»
                        </p>
                    </div>

                    <div class="article-widget article-widget_text size-2">
                        <p>
                            К участию допускаются все спортсмены, занимающиеся в сети клубов «Магис Спорт», старше 14 лет и
                            предоставившие именные заявки на участие в соревнованиях.
                            <span>До старта осталось чуть больше месяца</span>, самое время начать подготовку и показать лучший результат!
                        </p>
                        <p>
                            Соревнования по русскому жиму проводятся по действующим правилам МРОО «<a href="#">Федерация русского жима</a>» в номинации «Классический русский жим»,
                            все участники выполняют по одному зачетному подходу на максимально возможное количество повторений к фиксированному весу штанги в той номинации,
                            которую выбрали самостоятельно. В зачет идет результат не менее восьми повторений. Победители и призеры выявляются по формуле коэффициента атлетизма
                            «Вес штанги (кг) умножается на количество повторений,
                            полученный тоннаж делится на собственный вес спортсмена, и получаем личный коэффициент атлетизма (
                            КА) каждого спортсмена. Показанное значение округляется до второй цифры после запятой.»
                        </p>
                    </div>


                    <div class="article-widget article-widget_text size-1">
                        <p>
                            К участию допускаются все спортсмены, занимающиеся в сети клубов «Магис Спорт», старше 14 лет и
                            предоставившие именные заявки на участие в соревнованиях.
                            <span>До старта осталось чуть больше месяца</span>, самое время начать подготовку и показать лучший результат!
                        </p>
                    </div>

                    <div class="article-widget article-widget_title size-3">
                        <h3>H3. Программа соревнований</h3>
                    </div>

                    <div class="article-widget article-widget_title size-1">
                        <h3>H3. Программа соревнований</h3>
                    </div>

                    <div class="article-widget article-widget_info size-1">

                        <div class="article-news">
                            <div class="article-news-item">
                                <div class="article-news-item__img">
                                    <a href="#"><img src="/images/temp/article-1.jpg" alt=""></a>
                                </div>
                                <div class="article-news-item__title">
                                    <a href="#" class="article-news-item__link">Программа</a>
                                </div>
                                <div class="article-news-item__descr">
                                    <p>
                                        К участию допускаются все спортсмены, занимающиеся в сети клубов «Магис Спорт», старше 14 лет
                                        и предоставившие именные.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="article-widget article-widget_title size-1">
                        <h3>H3. Программа соревнований</h3>
                    </div>

                    <div class="article-widget article-widget_title size-1">
                        <h3>H3. Программа соревнований</h3>
                    </div>


                    <div class="article-widget article-widget_info size-3">

                        <div class="article-news">
                            <div class="article-news-item">
                                <div class="article-news-item__img">
                                    <a href="#"><img src="/images/temp/article-1.jpg" alt=""></a>
                                </div>
                                <div class="article-news-item__title">
                                    <a href="#" class="article-news-item__link">Программа</a>
                                </div>
                                <div class="article-news-item__descr">
                                    <p>
                                        К участию допускаются все спортсмены, занимающиеся в сети клубов «Магис Спорт», старше 14 лет
                                        и предоставившие именные.
                                    </p>
                                </div>
                            </div>

                            <div class="article-news-item">
                                <div class="article-news-item__img">
                                    <a href="#"><img src="/images/temp/article-2.jpg" alt=""></a>
                                </div>
                                <div class="article-news-item__title">
                                    <a href="#" class="article-news-item__link">Веселые старты</a>
                                </div>
                                <div class="article-news-item__descr">
                                    <p>
                                        «Магис Спорт», старше 14 лет
                                        и предоставившие именные. заявки на участие в соревнованиях. До старта осталось чуть.
                                        больше.месяца/самое время начать подготовку и показать лучший результат!

                                    </p>
                                </div>
                            </div>

                            <div class="article-news-item">
                                <div class="article-news-item__img">
                                    <a href="#"><img src="/images/temp/article-3.jpg" alt=""></a>
                                </div>
                                <div class="article-news-item__title">
                                    <a href="#" class="article-news-item__link">Йога для детей</a>
                                </div>
                                <div class="article-news-item__descr">
                                    <p>
                                        К участию допускаются все спортсмены, занимающиеся в сети клубов «Магис Спорт», старше 14 лет
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="article-widget article-widget_info size-1">

                        <div class="article-news">
                            <div class="article-news-item">
                                <div class="article-news-item__img">
                                    <a href="#"><img src="/images/temp/article-1.jpg" alt=""></a>
                                </div>
                                <div class="article-news-item__title">
                                    <a href="#" class="article-news-item__link">Программа</a>
                                </div>
                                <div class="article-news-item__descr">
                                    <p>
                                        К участию допускаются все спортсмены, занимающиеся в сети клубов «Магис Спорт», старше 14 лет
                                        и предоставившие именные.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="article-widget article-widget_info size-2">

                        <div class="article-news">
                            <div class="article-news-item">
                                <div class="article-news-item__img">
                                    <a href="#"><img src="/images/temp/article-1.jpg" alt=""></a>
                                </div>
                                <div class="article-news-item__title">
                                    <a href="#" class="article-news-item__link">Программа</a>
                                </div>
                                <div class="article-news-item__descr">
                                    <p>
                                        К участию допускаются все спортсмены, занимающиеся в сети клубов «Магис Спорт», старше 14 лет
                                        и предоставившие именные.
                                    </p>
                                </div>
                            </div>

                            <div class="article-news-item">
                                <div class="article-news-item__img">
                                    <a href="#"><img src="/images/temp/article-2.jpg" alt=""></a>
                                </div>
                                <div class="article-news-item__title">
                                    <a href="#" class="article-news-item__link">Веселые старты</a>
                                </div>
                                <div class="article-news-item__descr">
                                    <p>
                                        «Магис Спорт», старше 14 лет
                                        и предоставившие именные. заявки на участие в соревнованиях. До старта осталось чуть.
                                        больше.месяца/самое время начать подготовку и показать лучший результат!

                                    </p>
                                </div>
                            </div>

                            <div class="article-news-item">
                                <div class="article-news-item__img">
                                    <a href="#"><img src="/images/temp/article-3.jpg" alt=""></a>
                                </div>
                                <div class="article-news-item__title">
                                    <a href="#" class="article-news-item__link">Йога для детей</a>
                                </div>
                                <div class="article-news-item__descr">
                                    <p>
                                        К участию допускаются все спортсмены, занимающиеся в сети клубов «Магис Спорт», старше 14 лет
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class='article-widget article-widget_quote size-3'>
                        <div class='article-quote'>
                            <div class='article-quote__person'>
                                <i></i>
                                <div class='article-quote__photo'>
                                    <div class="article-quote__photo-img" style='background-image: url(/images/temp/quote.png);'></div>
                                </div>
                            </div>
                            <div class='article-quote__text'>
                                <p>
                                    Вместе с Владимиром мы уже добились многого и я точно знаю, он не собирается останавливаться на достигнутом.
                                    И если раньше цель была похудеть, то теперь набрать...Так что, Арни, начинай кушать курочку —
                                    скоро у тебя появится конкурент. И это не шутки, ведь с такой обязательностью в выполнении поставленных з
                                    адач и, не без скромности, благодаря мне, наш тандем обречён на победу!
                                </p>
                                <div class='article-quote__name'>Екатерина Шеянова <small class='article-quote__descr'>персональный тренер Владимира</small></div>
                            </div>
                        </div>
                    </div>

                    <div class='article-widget article-widget_quote size-2'>
                        <div class='article-quote'>
                            <div class='article-quote__person'>
                                <i></i>
                                <div class='article-quote__photo'>
                                    <div class="article-quote__photo-img" style='background-image: url(/images/temp/quote.png);'></div>
                                </div>
                            </div>
                            <div class='article-quote__text'>
                                <p>
                                    Вместе с Владимиром мы уже добились многого и я точно знаю, он не собирается останавливаться на достигнутом.
                                    И если раньше цель была похудеть, то теперь набрать...Так что, Арни, начинай кушать курочку —
                                    скоро у тебя появится конкурент. И это не шутки, ведь с такой обязательностью в выполнении поставленных з
                                    адач и, не без скромности, благодаря мне, наш тандем обречён на победу!
                                </p>
                                <div class='article-quote__name'>Екатерина Шеянова <small class='article-quote__descr'>персональный тренер Владимира</small></div>
                            </div>
                        </div>
                    </div>

                    <div class="article-widget article-widget_text size-2">
                        <p>
                            Соревнования по русскому жиму проводятся по действующим правилам МРОО в номинации «Классический русский жим»,
                            все участники выполняют по одному зачетному подходу на максимально возможное количество повторений к
                            фиксированному весу штанги в той номинации, которую выбрали самостоятельно. В зачет идет результат не менее восьми повторений.
                            Победители и призеры выявляются по формуле коэффициента атлетизма «Вес штанги (кг) умножается на количество повторений, полученный тоннаж
                            делится на собственный вес спортсмена, и получаем личный коэффициент атлетизма (КА) каждого спортсмена. Показанное значение
                            округляется до второй цифры после запятой.»
                        </p>
                        <p>
                            К участию допускаются все спортсмены, занимающиеся в сети клубов «Магис Спорт»,
                            старше 14 лет и предоставившие именные заявки на участие в соревнованиях.
                            До старта осталось чуть больше месяца, самое время начать подготовку и показать лучший результат!
                        </p>
                    </div>

                    <div class='article-widget article-widget_quote size-1'>
                        <div class='article-quote'>
                            <div class='article-quote__person'>
                                <i></i>
                                <div class='article-quote__photo'>
                                    <div class="article-quote__photo-img" style='background-image: url(/images/temp/quote.png);'></div>
                                </div>
                            </div>
                            <div class='article-quote__text'>
                                <p>
                                    И это не шутки, ведь с такой обязательностью в выполнении поставленных задач и, не без скромности, благодаря мне, наш тандем обречён на победу!
                                </p>
                                <div class='article-quote__name'>Екатерина Шеянова <small class='article-quote__descr'>персональный тренер Владимира</small></div>
                            </div>
                        </div>
                    </div>

                    <div class='article-widget article-widget_highlight size-3'>
                        <div class="article-highlight article-highlight_icon article-highlight_icon_weight">
                            <div class="article-highlight__text">
                                <p>
                                    К участию допускаются все спортсмены, занимающиеся в сети клубов старше 14 лет и предоставившие именные заявки на участие в соревнованиях.
                                    До старта осталось чуть больше месяца, самое время начать подготовку и показать лучший результат!
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class='article-widget article-widget_highlight size-2'>
                        <div class="article-highlight article-highlight_icon article-highlight_icon_weight">
                            <div class="article-highlight__text">
                                <p>
                                    К участию допускаются все спортсмены, занимающиеся в сети клубов старше 14 лет и предоставившие именные заявки на участие в соревнованиях.
                                    До старта осталось чуть больше месяца, самое время начать подготовку и показать лучший результат!
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="article-widget article-widget_text size-2">
                        <p>
                            Соревнования по русскому жиму проводятся по действующим правилам МРОО в номинации «Классический русский жим»,
                            все участники выполняют по одному зачетному подходу на максимально возможное количество повторений
                            к фиксированному весу штанги в той номинации, которую выбрали самостоятельно. В зачет
                            идет результат не менее восьми повторений. Победители и призеры выявляются по формуле
                            коэффициента атлетизма «Вес штанги (кг) умножается на количество повторений, полученный
                            тоннаж делится на собственный вес спортсмена, и получаем личный коэффициент атлетизма
                            (КА) каждого спортсмена. Показанное значение округляется до второй цифры после запятой.»
                        </p>
                        <p>
                            К участию допускаются все спортсмены, занимающиеся в сети клубов «Магис Спорт»,
                            старше 14 лет и предоставившие именные заявки на участие в соревнованиях.
                            До старта осталось чуть больше месяца, самое время начать подготовку и показать лучший результат!
                        </p>
                    </div>

                    <div class='article-widget article-widget_highlight size-1'>
                        <div class="article-highlight article-highlight_icon article-highlight_icon_weight">
                            <div class="article-highlight__text">
                                <p>
                                    К участию допускаются все спортсмены, занимающиеся в сети клубов
                                    старше 14 лет
                                    и предоставившие именные заявки.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class='article-widget article-widget_video size-3'>
                        <div class='article-video'>
                            <div class="article-video__preview" style="background-image: url('/images/temp/vid.jpg')">
                                <div class="article-video__play"></div>
                            </div>
                        </div>
                    </div>

                    <div class='article-widget article-widget_video size-2'>
                        <div class='article-video'>
                            <div class="article-video__preview" style="background-image: url('/images/temp/vid.jpg')">
                                <div class="article-video__play"></div>
                            </div>
                        </div>
                    </div>

                    <div class="article-widget article-widget_title size-3">
                        <h3>H3. Программа соревнований</h3>
                    </div>

                    <div class='article-widget article-widget_video size-1'>
                        <div class='article-video'>
                            <div class="article-video__preview" style="background-image: url('/images/temp/vid.jpg')">
                                <div class="article-video__play"></div>
                            </div>
                        </div>
                    </div>

                    <div class="article-widget article-widget_text size-2">
                        <p>
                            Соревнования по русскому жиму проводятся по действующим правилам МРОО в номинации «Классический русский жим»,
                            все участники выполняют по одному зачетному подходу на максимально возможное
                            количество повторений к фиксированному весу штанги в той номинации, которую
                            выбрали самостоятельно. В зачет идет результат не менее восьми повторений.
                            Победители и призеры выявляются по формуле коэффициента атлетизма «Вес
                            штанги (кг) умножается на количество повторений, полученный тоннаж делится
                            на собственный вес спортсмена, и получаем личный коэффициент атлетизма (КА)
                            каждого спортсмена. Показанное значение округляется до второй цифры после запятой.»
                        </p>
                    </div>

                    <div class="article-widget article-widget_image size-3">
                        <div class="article-img article-img_text">
                            <img class="article-img__photo" src="/images/temp/article-4.jpg" alt="">
                            <div class="article-img__text">«Магис Спорт. Семинар Евгения Иванова. 2016» </div>
                        </div>
                    </div>

                    <div class="article-widget article-widget_image size-2">
                        <div class="article-img article-img_text">
                            <img class="article-img__photo" src="/images/temp/article-4.jpg" alt="">
                            <div class="article-img__text">«Магис Спорт. Семинар Евгения Иванова. 2016» </div>
                        </div>
                    </div>

                    <div class="article-widget article-widget_image size-1">
                        <div class="article-img article-img_text">
                            <img class="article-img__photo" src="/images/temp/article-4.jpg" alt="">
                            <div class="article-img__text">«Магис Спорт. Семинар Евгения Иванова. 2016» </div>
                        </div>
                    </div>

                    <div class="article-widget article-widget_text size-3">
                        <p>
                            Соревнования по русскому жиму проводятся по действующим правилам МРОО в номинации «Классический русский жим»,
                            все участники выполняют по одному зачетному подходу на максимально возможное
                            количество повторений к фиксированному весу штанги в той номинации, которую
                            выбрали самостоятельно. В зачет идет результат не менее восьми повторений.
                            Победители и призеры выявляются по формуле коэффициента атлетизма «Вес
                            штанги (кг) умножается на количество повторений, полученный тоннаж делится
                            на собственный вес спортсмена, и получаем личный коэффициент атлетизма (КА)
                            каждого спортсмена. Показанное значение округляется до второй цифры после запятой.»
                        </p>
                    </div>

                    <div class="article-widget article-widget_gallery size-3">
                        <div class="article-gallery">
                            <div class="article-gallery__item" style="background-image: url('/images/temp/article-6.jpg')">
                                <div class="article-gallery__overlay"></div>
                            </div>
                            <div class="article-gallery__item" style="background-image: url('/images/temp/article-7.jpg')">
                                <div class="article-gallery__overlay"></div>
                            </div>
                            <div class="article-gallery__item" style="background-image: url('/images/temp/article-8.jpg')">
                                <div class="article-gallery__overlay"></div>
                            </div>
                            <div class="article-gallery__item" style="background-image: url('/images/temp/article-7.jpg')">
                                <div class="article-gallery__overlay"></div>
                            </div>
                            <div class="article-gallery__item" style="background-image: url('/images/temp/article-8.jpg')">
                                <div class="article-gallery__overlay"></div>
                            </div>
                            <div class="article-gallery__item" style="background-image: url('/images/temp/article-6.jpg')">
                                <div class="article-gallery__overlay"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
