{% extends 'modules/_main.twig' %}
{% block meta %}
    <title>Клубные карты</title>
{% endblock %}
{% block content %}
    <div class="cards">
        <div class="cards__wrapper">
            <h1 class="cards__title"> Клубные карты </h1>
            <div class="cards-filter">
                <div class="cards-filter__wrapper">
                    <div class="cards-filter__col cards-filter__col_left">
                        <div class="cards-filter__option">
                            <div class="cards-filter__option-title">
                                Когда
                            </div>
                            <div class="cards-filter__option-wrapper">
                                <label for="morning">
                                    <input type="checkbox" id="morning" value="morning"
                                           class="cards-filter__option-select">
                                    <div js-option-item class="cards-filter__option-item">Утром</div>
                                </label>
                                <label for="day">
                                    <input type="checkbox" id="day" value="day" class="cards-filter__option-select">
                                    <div js-option-item class="cards-filter__option-item">Днем</div>
                                </label>
                                <label for="evening">
                                    <input type="checkbox" id="evening" value="evening"
                                           class="cards-filter__option-select">
                                    <div js-option-item class="cards-filter__option-item">Вечером</div>
                                </label>

                                <label for="holiday" >
                                    <input type="checkbox" id="holiday" value="holiday"
                                           class="cards-filter__option-select">
                                    <div js-option-item class="cards-filter__option-item">В выходные</div>
                                </label>
                                <label for="no-limits">
                                    <input type="checkbox" id="no-limits" value="no-limits"
                                           class="cards-filter__option-select">
                                    <div js-option-item class="cards-filter__option-item">Без ограничений</div>
                                </label>

                            </div>
                        </div>
                        <div class="cards-filter__option">
                            <div class="cards-filter__option-title">
                                Для кого
                            </div>
                            <div class="cards-filter__option-wrapper">
                                <label for="adult">
                                    <input type="checkbox" id="adult" value="adult" class="cards-filter__option-select">
                                    <div class="cards-filter__option-item">Взлослый</div>
                                </label>
                                <label for="child">
                                    <input type="checkbox" id="child" value="child" class="cards-filter__option-select">
                                    <div class="cards-filter__option-item">Ребенок (3-13)</div>
                                </label>
                                <label for="teenager">
                                    <input type="checkbox" id="teenager" value="teenager"
                                           class="cards-filter__option-select">
                                    <div class="cards-filter__option-item">Подросток (14-17)</div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="cards-filter__col cards-filter__col_right">
                        <div class="cards-filter__option">
                            <div class="cards-filter__option-title">
                                Где
                            </div>
                            <div class="cards-filter__option-wrapper">
                                <label for="vzlet">
                                    <input type="checkbox" id="vzlet" value="vzlet" class="cards-filter__option-select">
                                    <div class="cards-filter__option-item">Взлетная</div>
                                </label>
                                <label for="plaza">
                                    <input type="checkbox" id="plaza" value="plaza" class="cards-filter__option-select">
                                    <div class="cards-filter__option-item">Плаза</div>
                                </label>
                                <label for="sodostup">
                                    <input type="checkbox" id="sodostup" value="sodostup"
                                           class="cards-filter__option-select">
                                    <div class="cards-filter__option-item">Содоступ</div>
                                </label>
                            </div>
                        </div>
                        <div class="cards-filter__option">
                            <div class="cards-filter__option-title">
                                Буду заниматься
                            </div>
                            <div class="cards-filter__option-wrapper">
                                <label for="one">
                                    <input type="checkbox" id="one" value="one" class="cards-filter__option-select">
                                    <div class="cards-filter__option-item">Один</div>
                                </label>
                                <label for="with-child">
                                    <input type="checkbox" id="with-child" value="with-child"
                                           class="cards-filter__option-select">
                                    <div class="cards-filter__option-item">С ребенком</div>
                                </label>
                            </div>
                        </div>
                        <div class="cards-filter__option">
                            <div class="cards-filter__option-wrapper cards-filter__option-wrapper_button">
                                <button class="cards-filter__option-button cards-filter__option-button_discount">% По
                                    акции
                                </button>
                                <button class="cards-filter__option-button cards-filter__option-button_reset">Сбросить
                                    фильтр
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cards__wrapper cards__wrapper_club">
            <div class="club-card club-card_purple">
                <div class="club-card__title">
                    <div class="club-card__title-text">
                        Полная карта
                    </div>
                    <div class="club-card__title-icon club-card__title-icon_vzletnaja">

                    </div>
                    <div class="club-card__title-icon club-card__title-icon_sale">

                    </div>
                </div>
                <div class="club-card__type-wrapper">
                    <div class="club-card__type-col">
                        <div class="club-card__type-info club-card__type-info_purple">
                            <div class="club-card__type-text">ВЗРОСЛЫЙ</div>
                        </div>
                    </div>
                    <div class="club-card__type-col">
                        <div class="club-card__date-wrapper">
                            <div class="club-card__date-item">
                                <span class="club-card__date-item_bold">6:00–23:00</span> — будни
                            </div>
                            <div class="club-card__date-item">
                                <span class="club-card__date-item_bold"> 8:00–22:00</span> — выходные
                            </div>
                        </div>
                    </div>
                </div>
                <div class="club-card__conditions-wrapper">
                    <div class="club-card__conditions-col">
                        <div class="club-card__conditions-item">
                            <div class="club-card__conditions-number">
                                12
                            </div>
                            <div class="club-card__conditions-text club-card__conditions-text_month">
                                месяцев
                            </div>
                        </div>
                    </div>
                    <div class="club-card__conditions-col club-card__conditions-col_right ">
                        <div class="club-card__conditions-item">
                            <div class="club-card__conditions-number">
                                90
                            </div>
                            <div class="club-card__conditions-text">
                                дней заморозки
                            </div>
                        </div>
                    </div>
                </div>
                <div class="club-card__options-wrapper">
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_instruction">
                        </div>
                        <div class="club-card__options-text">
                            Вводный инструктаж
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_gym">

                        </div>
                        <div class="club-card__options-text">
                            Тренажерный зал
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_medicine">

                        </div>
                        <div class="club-card__options-text">
                            4 медосмотра
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_group">

                        </div>
                        <div class="club-card__options-text">
                            Групповые занятия
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_diagnostics">

                        </div>
                        <div class="club-card__options-text">
                            2 фитнес диагностики
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_sauna">

                        </div>
                        <div class="club-card__options-text">
                            Сауна
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_pool">

                        </div>
                        <div class="club-card__options-text">
                            Бассейн
                        </div>
                    </div>
                </div>
                <div class="club-card__footer">
                    <button class="club-card__footer-button club-card__footer-button_purple">Узнать цену</button>
                </div>
            </div>
            <div class="club-card club-card_green">
                <div class="club-card__title">
                    <div class="club-card__title-text">
                        Дневная карта
                    </div>
                    <div class="club-card__title-icon club-card__title-icon_vzletnaja">

                    </div>
                </div>
                <div class="club-card__type-wrapper">
                    <div class="club-card__type-col">
                        <div class="club-card__type-info club-card__type-info_green">
                            <div class="club-card__type-text">ВЗРОСЛЫЙ</div>
                        </div>
                    </div>
                    <div class="club-card__type-col">
                        <div class="club-card__date-wrapper">
                            <div class="club-card__date-item">
                                <span class="club-card__date-item_bold">6:00–23:00</span> — будни
                            </div>
                            <div class="club-card__date-item">
                                <span class="club-card__date-item_bold"> 8:00–22:00</span> — выходные
                            </div>
                        </div>
                    </div>
                </div>
                <div class="club-card__conditions-wrapper">
                    <div class="club-card__conditions-col">
                        <div class="club-card__conditions-item">
                            <div class="club-card__conditions-number">
                                12
                            </div>
                            <div class="club-card__conditions-text club-card__conditions-text_month">
                                месяцев
                            </div>
                        </div>
                    </div>
                    <div class="club-card__conditions-col club-card__conditions-col_right ">
                        <div class="club-card__conditions-item">
                            <div class="club-card__conditions-number">
                                90
                            </div>
                            <div class="club-card__conditions-text">
                                дней заморозки
                            </div>
                        </div>
                    </div>
                </div>
                <div class="club-card__options-wrapper">
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_instruction">
                        </div>
                        <div class="club-card__options-text">
                            Вводный инструктаж
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_gym">

                        </div>
                        <div class="club-card__options-text">
                            Тренажерный зал
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_medicine">

                        </div>
                        <div class="club-card__options-text">
                            4 медосмотра
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_group">

                        </div>
                        <div class="club-card__options-text">
                            Групповые занятия
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_diagnostics">

                        </div>
                        <div class="club-card__options-text">
                            2 фитнес диагностики
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_sauna">

                        </div>
                        <div class="club-card__options-text">
                            Сауна
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_pool">

                        </div>
                        <div class="club-card__options-text">
                            Бассейн
                        </div>
                    </div>
                </div>
                <div class="club-card__footer">
                    <button class="club-card__footer-button club-card__footer-button_green">Узнать цену</button>
                </div>
            </div>
            <div class="club-card club-card_purple">
                <div class="club-card__title">
                    <div class="club-card__title-text">
                        VIP
                    </div>
                    <div class="club-card__title-icon club-card__title-icon_plaza">

                    </div>
                </div>
                <div class="club-card__type-wrapper">
                    <div class="club-card__type-col">
                        <div class="club-card__type-info club-card__type-info_purple">
                            <div class="club-card__type-text">ВЗРОСЛЫЙ</div>
                        </div>
                    </div>
                    <div class="club-card__type-col">
                        <div class="club-card__date-wrapper">
                            <div class="club-card__date-item">
                                <span class="club-card__date-item_bold">6:00–23:00</span> — будни
                            </div>
                            <div class="club-card__date-item">
                                <span class="club-card__date-item_bold"> 8:00–22:00</span> — выходные
                            </div>
                        </div>
                    </div>
                </div>
                <div class="club-card__conditions-wrapper">
                    <div class="club-card__conditions-col">
                        <div class="club-card__conditions-item">
                            <div class="club-card__conditions-number">
                                12
                            </div>
                            <div class="club-card__conditions-text club-card__conditions-text_month">
                                месяцев
                            </div>
                        </div>
                    </div>
                    <div class="club-card__conditions-col club-card__conditions-col_right ">
                        <div class="club-card__conditions-item">
                            <div class="club-card__conditions-number">
                                90
                            </div>
                            <div class="club-card__conditions-text">
                                дней заморозки
                            </div>
                        </div>
                    </div>
                </div>
                <div class="club-card__options-description">
                    Бесплатные полотенца, 2 бесплатных гостевых визита каждый месяц, 5 персональных тренировок с любой
                    категорией тренера.
                </div>
                <div class="club-card__options-wrapper">
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_instruction">
                        </div>
                        <div class="club-card__options-text">
                            Вводный инструктаж
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_gym">

                        </div>
                        <div class="club-card__options-text">
                            Тренажерный зал
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_medicine">

                        </div>
                        <div class="club-card__options-text">
                            4 медосмотра
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_group">

                        </div>
                        <div class="club-card__options-text">
                            Групповые занятия
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_diagnostics">

                        </div>
                        <div class="club-card__options-text">
                            2 фитнес диагностики
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_sauna">

                        </div>
                        <div class="club-card__options-text">
                            Сауна
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_pool">

                        </div>
                        <div class="club-card__options-text">
                            Бассейн
                        </div>
                    </div>
                </div>
                <div class="club-card__footer">
                    <button class="club-card__footer-button club-card__footer-button_purple">Узнать цену</button>
                </div>
            </div>
            <div class="club-card club-card_blue">
                <div class="club-card__title">
                    <div class="club-card__title-text">
                        Юниор день
                    </div>
                    <div class="club-card__title-icon club-card__title-icon_vzletnaja">

                    </div>
                </div>
                <div class="club-card__type-wrapper">
                    <div class="club-card__type-col">
                        <div class="club-card__type-info club-card__type-info_blue">
                            <div class="club-card__type-text">ПОДРОСТОК</div>
                        </div>
                    </div>
                    <div class="club-card__type-col">
                        <div class="club-card__date-wrapper">
                            <div class="club-card__date-item">
                                <span class="club-card__date-item_bold">6:00–23:00</span> — будни
                            </div>
                            <div class="club-card__date-item">
                                <span class="club-card__date-item_bold"> 8:00–22:00</span> — выходные
                            </div>
                        </div>
                    </div>
                </div>
                <div class="club-card__conditions-wrapper">
                    <div class="club-card__conditions-col">
                        <div class="club-card__conditions-item">
                            <div class="club-card__conditions-number">
                                12
                            </div>
                            <div class="club-card__conditions-text club-card__conditions-text_month">
                                месяцев
                            </div>
                        </div>
                    </div>
                    <div class="club-card__conditions-col club-card__conditions-col_right ">
                        <div class="club-card__conditions-item">
                            <div class="club-card__conditions-number">
                                90
                            </div>
                            <div class="club-card__conditions-text">
                                дней заморозки
                            </div>
                        </div>
                    </div>
                </div>
                <div class="club-card__options-wrapper">
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_instruction">
                        </div>
                        <div class="club-card__options-text">
                            Вводный инструктаж
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_gym">

                        </div>
                        <div class="club-card__options-text">
                            Тренажерный зал
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_medicine">

                        </div>
                        <div class="club-card__options-text">
                            4 медосмотра
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_group">

                        </div>
                        <div class="club-card__options-text">
                            Групповые занятия
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_diagnostics">

                        </div>
                        <div class="club-card__options-text">
                            2 фитнес диагностики
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_sauna">

                        </div>
                        <div class="club-card__options-text">
                            Сауна
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_pool">

                        </div>
                        <div class="club-card__options-text">
                            Бассейн
                        </div>
                    </div>
                </div>
                <div class="club-card__footer">
                    <button class="club-card__footer-button club-card__footer-button_green">Узнать цену</button>
                </div>
            </div>
            <div class="club-card club-card_purple">
                <div class="club-card__title">
                    <div class="club-card__title-text">
                        Полная карта
                    </div>
                    <div class="club-card__title-icon club-card__title-icon_vzletnaja">

                    </div>
                    <div class="club-card__title-icon club-card__title-icon_sale">

                    </div>
                </div>
                <div class="club-card__type-wrapper">
                    <div class="club-card__type-col">
                        <div class="club-card__type-info club-card__type-info_purple">
                            <div class="club-card__type-text">ВЗРОСЛЫЙ</div>
                        </div>
                    </div>
                    <div class="club-card__type-col">
                        <div class="club-card__date-wrapper">
                            <div class="club-card__date-item">
                                <span class="club-card__date-item_bold">6:00–23:00</span> — будни
                            </div>
                            <div class="club-card__date-item">
                                <span class="club-card__date-item_bold"> 8:00–22:00</span> — выходные
                            </div>
                        </div>
                    </div>
                </div>
                <div class="club-card__conditions-wrapper">
                    <div class="club-card__conditions-col">
                        <div class="club-card__conditions-item">
                            <div class="club-card__conditions-number">
                                12
                            </div>
                            <div class="club-card__conditions-text club-card__conditions-text_month">
                                месяцев
                            </div>
                        </div>
                    </div>
                    <div class="club-card__conditions-col club-card__conditions-col_right ">
                        <div class="club-card__conditions-item">
                            <div class="club-card__conditions-number">
                                90
                            </div>
                            <div class="club-card__conditions-text">
                                дней заморозки
                            </div>
                        </div>
                    </div>
                </div>
                <div class="club-card__options-description">
                    Бесплатные полотенца, 2 бесплатных гостевых визита каждый месяц, 5 персональных тренировок с любой
                    категорией тренера.
                </div>
                <div class="club-card__options-wrapper">
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_instruction">
                        </div>
                        <div class="club-card__options-text">
                            Вводный инструктаж
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_gym">

                        </div>
                        <div class="club-card__options-text">
                            Тренажерный зал
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_medicine">

                        </div>
                        <div class="club-card__options-text">
                            4 медосмотра
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_group">

                        </div>
                        <div class="club-card__options-text">
                            Групповые занятия
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_diagnostics">

                        </div>
                        <div class="club-card__options-text">
                            2 фитнес диагностики
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_sauna">

                        </div>
                        <div class="club-card__options-text">
                            Сауна
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_pool">

                        </div>
                        <div class="club-card__options-text">
                            Бассейн
                        </div>
                    </div>
                </div>
                <div class="club-card__footer">
                    <button class="club-card__footer-button club-card__footer-button_purple">Узнать цену</button>
                </div>
            </div>
            <div class="club-card club-card_green">
                <div class="club-card__title">
                    <div class="club-card__title-text">
                        Дневная карта
                    </div>
                    <div class="club-card__title-icon club-card__title-icon_vzletnaja">

                    </div>
                </div>
                <div class="club-card__type-wrapper">
                    <div class="club-card__type-col">
                        <div class="club-card__type-info club-card__type-info_green">
                            <div class="club-card__type-text">ВЗРОСЛЫЙ</div>
                        </div>
                    </div>
                    <div class="club-card__type-col">
                        <div class="club-card__date-wrapper">
                            <div class="club-card__date-item">
                                <span class="club-card__date-item_bold">6:00–23:00</span> — будни
                            </div>
                            <div class="club-card__date-item">
                                <span class="club-card__date-item_bold"> 8:00–22:00</span> — выходные
                            </div>
                        </div>
                    </div>
                </div>
                <div class="club-card__conditions-wrapper">
                    <div class="club-card__conditions-col">
                        <div class="club-card__conditions-item">
                            <div class="club-card__conditions-number">
                                12
                            </div>
                            <div class="club-card__conditions-text club-card__conditions-text_month">
                                месяцев
                            </div>
                        </div>
                    </div>
                    <div class="club-card__conditions-col club-card__conditions-col_right ">
                        <div class="club-card__conditions-item">
                            <div class="club-card__conditions-number">
                                90
                            </div>
                            <div class="club-card__conditions-text">
                                дней заморозки
                            </div>
                        </div>
                    </div>
                </div>
                <div class="club-card__options-wrapper">
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_instruction">
                        </div>
                        <div class="club-card__options-text">
                            Вводный инструктаж
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_gym">

                        </div>
                        <div class="club-card__options-text">
                            Тренажерный зал
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_medicine">

                        </div>
                        <div class="club-card__options-text">
                            4 медосмотра
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_group">

                        </div>
                        <div class="club-card__options-text">
                            Групповые занятия
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_diagnostics">

                        </div>
                        <div class="club-card__options-text">
                            2 фитнес диагностики
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_sauna">

                        </div>
                        <div class="club-card__options-text">
                            Сауна
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_pool">

                        </div>
                        <div class="club-card__options-text">
                            Бассейн
                        </div>
                    </div>
                </div>
                <div class="club-card__footer">
                    <button class="club-card__footer-button club-card__footer-button_green">Узнать цену</button>
                </div>
            </div>
            <div class="club-card club-card_purple">
                <div class="club-card__title">
                    <div class="club-card__title-text">
                        Полная карта
                    </div>
                    <div class="club-card__title-icon club-card__title-icon_vzletnaja">

                    </div>
                    <div class="club-card__title-icon club-card__title-icon_sale">

                    </div>
                </div>
                <div class="club-card__type-wrapper">
                    <div class="club-card__type-col">
                        <div class="club-card__type-info club-card__type-info_purple">
                            <div class="club-card__type-text">ВЗРОСЛЫЙ</div>
                        </div>
                    </div>
                    <div class="club-card__type-col">
                        <div class="club-card__date-wrapper">
                            <div class="club-card__date-item">
                                <span class="club-card__date-item_bold">6:00–23:00</span> — будни
                            </div>
                            <div class="club-card__date-item">
                                <span class="club-card__date-item_bold"> 8:00–22:00</span> — выходные
                            </div>
                        </div>
                    </div>
                </div>
                <div class="club-card__conditions-wrapper">
                    <div class="club-card__conditions-col">
                        <div class="club-card__conditions-item">
                            <div class="club-card__conditions-number">
                                12
                            </div>
                            <div class="club-card__conditions-text club-card__conditions-text_month">
                                месяцев
                            </div>
                        </div>
                    </div>
                    <div class="club-card__conditions-col club-card__conditions-col_right ">
                        <div class="club-card__conditions-item">
                            <div class="club-card__conditions-number">
                                90
                            </div>
                            <div class="club-card__conditions-text">
                                дней заморозки
                            </div>
                        </div>
                    </div>
                </div>
                <div class="club-card__options-description">
                    Бесплатные полотенца, 2 бесплатных гостевых визита каждый месяц, 5 персональных тренировок с любой
                    категорией тренера.
                </div>
                <div class="club-card__options-wrapper">
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_instruction">
                        </div>
                        <div class="club-card__options-text">
                            Вводный инструктаж
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_gym">

                        </div>
                        <div class="club-card__options-text">
                            Тренажерный зал
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_medicine">

                        </div>
                        <div class="club-card__options-text">
                            4 медосмотра
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_group">

                        </div>
                        <div class="club-card__options-text">
                            Групповые занятия
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_diagnostics">

                        </div>
                        <div class="club-card__options-text">
                            2 фитнес диагностики
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_sauna">

                        </div>
                        <div class="club-card__options-text">
                            Сауна
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_pool">

                        </div>
                        <div class="club-card__options-text">
                            Бассейн
                        </div>
                    </div>
                </div>
                <div class="club-card__footer">
                    <button class="club-card__footer-button club-card__footer-button_purple">Узнать цену</button>
                </div>
            </div>
            <div class="club-card club-card_blue">
                <div class="club-card__title">
                    <div class="club-card__title-text">
                        Юниор день
                    </div>
                    <div class="club-card__title-icon club-card__title-icon_vzletnaja">

                    </div>
                </div>
                <div class="club-card__type-wrapper">
                    <div class="club-card__type-col">
                        <div class="club-card__type-info club-card__type-info_blue">
                            <div class="club-card__type-text">ПОДРОСТОК</div>
                        </div>
                    </div>
                    <div class="club-card__type-col">
                        <div class="club-card__date-wrapper">
                            <div class="club-card__date-item">
                                <span class="club-card__date-item_bold">6:00–23:00</span> — будни
                            </div>
                            <div class="club-card__date-item">
                                <span class="club-card__date-item_bold"> 8:00–22:00</span> — выходные
                            </div>
                        </div>
                    </div>
                </div>
                <div class="club-card__conditions-wrapper">
                    <div class="club-card__conditions-col">
                        <div class="club-card__conditions-item">
                            <div class="club-card__conditions-number">
                                12
                            </div>
                            <div class="club-card__conditions-text club-card__conditions-text_month">
                                месяцев
                            </div>
                        </div>
                    </div>
                    <div class="club-card__conditions-col club-card__conditions-col_right ">
                        <div class="club-card__conditions-item">
                            <div class="club-card__conditions-number">
                                90
                            </div>
                            <div class="club-card__conditions-text">
                                дней заморозки
                            </div>
                        </div>
                    </div>
                </div>
                <div class="club-card__options-wrapper">
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_instruction">
                        </div>
                        <div class="club-card__options-text">
                            Вводный инструктаж
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_gym">

                        </div>
                        <div class="club-card__options-text">
                            Тренажерный зал
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_medicine">

                        </div>
                        <div class="club-card__options-text">
                            4 медосмотра
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_group">

                        </div>
                        <div class="club-card__options-text">
                            Групповые занятия
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_diagnostics">

                        </div>
                        <div class="club-card__options-text">
                            2 фитнес диагностики
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_sauna">

                        </div>
                        <div class="club-card__options-text">
                            Сауна
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_pool">

                        </div>
                        <div class="club-card__options-text">
                            Бассейн
                        </div>
                    </div>
                </div>
                <div class="club-card__footer">
                    <button class="club-card__footer-button club-card__footer-button_green">Узнать цену</button>
                </div>
            </div>
            <div class="club-card club-card_purple">
                <div class="club-card__title">
                    <div class="club-card__title-text">
                        Полная карта
                    </div>
                    <div class="club-card__title-icon club-card__title-icon_vzletnaja">

                    </div>
                    <div class="club-card__title-icon club-card__title-icon_sale">

                    </div>
                </div>
                <div class="club-card__type-wrapper">
                    <div class="club-card__type-col">
                        <div class="club-card__type-info club-card__type-info_purple">
                            <div class="club-card__type-text">ВЗРОСЛЫЙ</div>
                        </div>
                    </div>
                    <div class="club-card__type-col">
                        <div class="club-card__date-wrapper">
                            <div class="club-card__date-item">
                                <span class="club-card__date-item_bold">6:00–23:00</span> — будни
                            </div>
                            <div class="club-card__date-item">
                                <span class="club-card__date-item_bold"> 8:00–22:00</span> — выходные
                            </div>
                        </div>
                    </div>
                </div>
                <div class="club-card__conditions-wrapper">
                    <div class="club-card__conditions-col">
                        <div class="club-card__conditions-item">
                            <div class="club-card__conditions-number">
                                12
                            </div>
                            <div class="club-card__conditions-text club-card__conditions-text_month">
                                месяцев
                            </div>
                        </div>
                    </div>
                    <div class="club-card__conditions-col club-card__conditions-col_right ">
                        <div class="club-card__conditions-item">
                            <div class="club-card__conditions-number">
                                90
                            </div>
                            <div class="club-card__conditions-text">
                                дней заморозки
                            </div>
                        </div>
                    </div>
                </div>
                <div class="club-card__options-description">
                    Бесплатные полотенца, 2 бесплатных гостевых визита каждый месяц, 5 персональных тренировок с любой
                    категорией тренера.
                </div>
                <div class="club-card__options-wrapper">
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_instruction">
                        </div>
                        <div class="club-card__options-text">
                            Вводный инструктаж
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_gym">

                        </div>
                        <div class="club-card__options-text">
                            Тренажерный зал
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_medicine">

                        </div>
                        <div class="club-card__options-text">
                            4 медосмотра
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_group">

                        </div>
                        <div class="club-card__options-text">
                            Групповые занятия
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_diagnostics">

                        </div>
                        <div class="club-card__options-text">
                            2 фитнес диагностики
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_sauna">

                        </div>
                        <div class="club-card__options-text">
                            Сауна
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_pool">

                        </div>
                        <div class="club-card__options-text">
                            Бассейн
                        </div>
                    </div>
                </div>
                <div class="club-card__footer">
                    <button class="club-card__footer-button club-card__footer-button_purple">Узнать цену</button>
                </div>
            </div>
            <div class="club-card club-card_green">
                <div class="club-card__title">
                    <div class="club-card__title-text">
                        Дневная карта
                    </div>
                    <div class="club-card__title-icon club-card__title-icon_vzletnaja">

                    </div>
                </div>
                <div class="club-card__type-wrapper">
                    <div class="club-card__type-col">
                        <div class="club-card__type-info club-card__type-info_green">
                            <div class="club-card__type-text">ВЗРОСЛЫЙ</div>
                        </div>
                    </div>
                    <div class="club-card__type-col">
                        <div class="club-card__date-wrapper">
                            <div class="club-card__date-item">
                                <span class="club-card__date-item_bold">6:00–23:00</span> — будни
                            </div>
                            <div class="club-card__date-item">
                                <span class="club-card__date-item_bold"> 8:00–22:00</span> — выходные
                            </div>
                        </div>
                    </div>
                </div>
                <div class="club-card__conditions-wrapper">
                    <div class="club-card__conditions-col">
                        <div class="club-card__conditions-item">
                            <div class="club-card__conditions-number">
                                12
                            </div>
                            <div class="club-card__conditions-text club-card__conditions-text_month">
                                месяцев
                            </div>
                        </div>
                    </div>
                    <div class="club-card__conditions-col club-card__conditions-col_right ">
                        <div class="club-card__conditions-item">
                            <div class="club-card__conditions-number">
                                90
                            </div>
                            <div class="club-card__conditions-text">
                                дней заморозки
                            </div>
                        </div>
                    </div>
                </div>
                <div class="club-card__options-wrapper">
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_instruction">
                        </div>
                        <div class="club-card__options-text">
                            Вводный инструктаж
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_gym">

                        </div>
                        <div class="club-card__options-text">
                            Тренажерный зал
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_medicine">

                        </div>
                        <div class="club-card__options-text">
                            4 медосмотра
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_group">

                        </div>
                        <div class="club-card__options-text">
                            Групповые занятия
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_diagnostics">

                        </div>
                        <div class="club-card__options-text">
                            2 фитнес диагностики
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_sauna">

                        </div>
                        <div class="club-card__options-text">
                            Сауна
                        </div>
                    </div>
                    <div class="club-card__options-item">
                        <div class="club-card__options-icon club-card__options-icon_pool">

                        </div>
                        <div class="club-card__options-text">
                            Бассейн
                        </div>
                    </div>
                </div>
                <div class="club-card__footer">
                    <button class="club-card__footer-button club-card__footer-button_green">Узнать цену</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
