{% extends 'modules/_main.twig' %}
{% block meta %}
    <title>Акробатика на батуте</title>
{% endblock %}


{% block content %}
    <div class="class">

        <div class="classes-about block">
            <div class="classes-about__wrapper block__wrapper">

                <div class="classes-about__header">
                    <div class="crumbs">
                        <a href="#" class="crumbs__item">Услуги</a>
                        <a href="#" class="crumbs__item">Секции</a>
                        <a href="#" class="crumbs__item">Спортивные секции</a>
                    </div>
                </div>
                <div class="classes-about__descr">
                    <div class="classes-about__col">
                        <h1>Акробатика на батуте</h1>
                        <p>
                            Урок на батуте подходит каждому ребенку,
                            который любит прыгатьи кувыркаться. Безопасно, весело и интересно дети освоят сложные гимнастические
                            и акробатические элементы и научатся в совершенстве владеть своим телом.
                        </p>
                    </div>

                    <div class="classes-about__col">
                        <div class="clubs-choice">

                            <div class="clubs-choice__list">

                                <button type="button" class="button button_choice button_choice_active">
                                    <div class="clubs-choice__list-content">
                                        <span class="clubs-choice__name">Взлётная</span>
                                    </div>
                                </button>

                                <button type="button" class="button button_choice">
                                    <div class="clubs-choice__list-content">
                                        <span class="clubs-choice__name">Плаза</span>
                                    </div>
                                </button>

                            </div>

                            <div class="clubs-choice__descr">
                                Занятие проводится
                                <span>только на Взёлтной.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="class-descr block">
            <div class="class-descr__wrapper block__wrapper">
                <div class="class-descr__content">
                    <div class="class-descr__col">

                        <div class="class-need">
                            <div class="class-need__item class-need__item_violet">
                                <div class="class-need__text">Уровень подготовки</div>
                            </div>
                            <div class="class-need__item class-need__item_red">
                                <div class="class-need__text">Пластика</div>
                            </div>
                            <div class="class-need__item class-need__item_yellow">
                                <div class="class-need__text">Мышцы</div>
                            </div>
                            <div class="class-need__item class-need__item_green">
                                <div class="class-need__text">Кардио</div>
                            </div>
                        </div>

                    </div>
                    <div class="class-descr__col class-descr__col_right">

                        <div class="class-enrol">
                            <div class="class-enrol__title">Записаться на занятие</div>
                            <div class="class-enrol__text">
                                Вам понадобится личный
                                кабинети 2 минуты: открыть расписаниеи выбрать удобное время.
                            </div>
                            <a href="#" class="link">Личный кабинет</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="class-gallery">
            <div class="class-gallery__item" style="background-image: url('/images/strip-dance.jpg')">
                <div class="class-gallery__overlay"></div>
            </div>
            <div class="class-gallery__item" style="background-image: url('/images/strip-dance-1.jpg')">
                <div class="class-gallery__overlay"></div>
            </div>
            <div class="class-gallery__item class-gallery__item_big" style="background-image: url('/images/strip-dance-2.jpg')">
                <div class="class-gallery__overlay"></div>
            </div>
        </div>

        <div class="timetable block">
            <div class="timetable__wrapper block__wrapper">

                <div class="timetable__title">
                    <h1>Занятия сегодня</h1>
                </div>
                <a href="#" class="timetable__link">Расписание на неделю</a>

                <div class="timetable-list">
                    {#модификатор timetable-list_small для маленьких плашек#}
                    <div class="timetable-list__club">
                        <div class="timetable-list__title">Взлётная</div>

                        <div class="timetable-list-content">
                            <div class="timetable-list__item timetable-list__item_pink">
                                <div class="timetable-list__item-content">
                                    <div class="timetable-list__name">Mind & Body</div>
                                    <div class="timetable-list__time">14:00 – 15:00</div>
                                    <div class="timetable-list__place">307 хореография</div>
                                </div>
                            </div>

                            <div class="timetable-list__item timetable-list__item_blue">
                                <div class="timetable-list__item-content">
                                    <div class="timetable-list__name">AQUA TORSO</div>
                                    <div class="timetable-list__time">13:00 – 14:00</div>
                                    <div class="timetable-list__place">307 хореография</div>
                                </div>
                            </div>

                            <div class="timetable-list__item timetable-list__item_green">
                                <div class="timetable-list__item-content">
                                    <div class="timetable-list__name">BALLROOM STUDIO</div>
                                    <div class="timetable-list__time">14:00 – 15:00</div>
                                    <div class="timetable-list__place">307 хореография</div>
                                </div>
                            </div>

                            <div class="timetable-list__item timetable-list__item_grey">
                                <div class="timetable-list__item-content">
                                    <div class="timetable-list__name">CONTEMPORARY</div>
                                    <div class="timetable-list__time">13:00 – 14:00</div>
                                    <div class="timetable-list__place">307 хореография</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="timetable-list__club">
                        {#<div class="timetable-list__title">Плаза</div>#}

                        {#<div class="timetable-list-content">#}
                        {#<div class="timetable-list__item timetable-list__item_violet">#}
                        {#<div class="timetable-list__item-content">#}
                        {#<div class="timetable-list__name">Батут </div>#}
                        {#<div class="timetable-list__time">14:00 – 15:00</div>#}
                        {#<div class="timetable-list__place">42 Плаза, зал групповыхзанятий №4 </div>#}
                        {#</div>#}
                        {#</div>#}

                        {#<div class="timetable-list__item timetable-list__item_green_dark">#}
                        {#<div class="timetable-list__item-content">#}
                        {#<div class="timetable-list__name">ZUMBA</div>#}
                        {#<div class="timetable-list__time">13:00 – 14:00</div>#}
                        {#<div class="timetable-list__place">42 Плаза, зал групповыхзанятий №4 </div>#}
                        {#</div>#}
                        {#</div>#}

                        {#<div class="timetable-list__item timetable-list__item_turquoise">#}
                        {#<div class="timetable-list__item-content">#}
                        {#<div class="timetable-list__name">BALLROOM STUDIO</div>#}
                        {#<div class="timetable-list__time">14:00 – 15:00</div>#}
                        {#<div class="timetable-list__place">42 Плаза, зал групповыхзанятий №4 </div>#}
                        {#</div>#}
                        {#</div>#}

                        {#<div class="timetable-list__item timetable-list__item_orange">#}
                        {#<div class="timetable-list__item-content">#}
                        {#<div class="timetable-list__name">CONTEMPORARY</div>#}
                        {#<div class="timetable-list__time">13:00 – 14:00</div>#}
                        {#<div class="timetable-list__place">42 Плаза, зал групповыхзанятий №4 </div>#}
                        {#</div>#}
                        {#</div>#}
                        {#</div>#}
                    </div>
                </div>

            </div>
        </div>

        <div class="instagram block">
            {#для событий модификатор instagram_events#}
            <div class="instagram__wrapper block__wrapper">
                <div class="instagram__content">
                    <div class="instagram__col instagram__col_left">

                        <div class="instagram__header">
                            {#<h1 class="instagram__title">В Инстаграме</h1>#}
                            <a href="#" target="_blank" class="instagram__title link">#Магисспорт</a>
                            <a href="#" target="_blank" class="instagram__title link">#STRIPDANCE</a>
                        </div>

                        <div class="instagram__main">
                            <div class="instagram__item">
                                <a href="#" target="_blank" class="instagram__link" style="background-image: url('/images/insta/insta-strip.jpg')"></a>
                                <a href="#" target="_blank" class="instagram__name">
                                    <div class="instagram__name__overlay"></div>
                                    <div class="instagram__name__content">
                                        <span>magis_plaza</span>
                                    </div>
                                </a>
                            </div>
                            <div class="instagram__item">
                                <a href="#" target="_blank" class="instagram__link" style="background-image: url('/images/insta/insta-strip-1.jpg')"></a>
                                <a href="#" target="_blank" class="instagram__name">
                                    <div class="instagram__name__overlay"></div>
                                    <div class="instagram__name__content">
                                        <span>yana_kungurova21</span>
                                    </div>
                                </a>
                            </div>
                            <div class="instagram__item">
                                <a href="#" target="_blank" class="instagram__link" style="background-image: url('/images/insta/insta-strip-2.jpg')"></a>
                                <a href="#" target="_blank" class="instagram__name">
                                    <div class="instagram__name__overlay"></div>
                                    <div class="instagram__name__content">
                                        <span>yana_kungurova21</span>
                                    </div>
                                </a>
                            </div>
                            <div class="instagram__item">
                                <a href="#" target="_blank" class="instagram__link" style="background-image: url('/images/insta/insta-strip-3.jpg')"></a>
                                <a href="#" target="_blank" class="instagram__name">
                                    <div class="instagram__name__overlay"></div>
                                    <div class="instagram__name__content">
                                        <span>di_chern</span>
                                    </div>
                                </a>
                            </div>
                            <div class="instagram__item">
                                <a href="#" target="_blank" class="instagram__link" style="background-image: url('/images/insta/insta-strip-4.jpg')"></a>
                                <a href="#" target="_blank" class="instagram__name">
                                    <div class="instagram__name__overlay"></div>
                                    <div class="instagram__name__content">
                                        <span>magis_sport</span>
                                    </div>
                                </a>
                            </div>
                            <div class="instagram__item">
                                <a href="#" target="_blank" class="instagram__link" style="background-image: url('/images/insta/insta-strip-5.jpg')"></a>
                                <a href="#" target="_blank" class="instagram__name">
                                    <div class="instagram__name__overlay"></div>
                                    <div class="instagram__name__content">
                                        <span>daryaus</span>
                                    </div>
                                </a>
                            </div>
                            <div class="instagram__item">
                                <a href="#" target="_blank" class="instagram__link" style="background-image: url('/images/insta/insta-strip-6.jpg')"></a>
                                <a href="#" target="_blank" class="instagram__name">
                                    <div class="instagram__name__overlay"></div>
                                    <div class="instagram__name__content">
                                        <span>daryaus</span>
                                    </div>
                                </a>
                            </div>
                            <div class="instagram__item">
                                <a href="#" target="_blank" class="instagram__link" style="background-image: url('/images/insta/insta-strip-7.jpg')"></a>
                                <a href="#" target="_blank" class="instagram__name">
                                    <div class="instagram__name__overlay"></div>
                                    <div class="instagram__name__content">
                                        <span>daryaus</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="instagram__col instagram__col_right">
                        <div class="instagram__header">

                            <div class="socials socials_events">
                                <a href="#" target="_blank" class="socials__item socials__item_fb"></a>
                                <a href="#" target="_blank" class="socials__item socials__item_vk"></a>
                                <a href="#" target="_blank" class="socials__item socials__item_ok"></a>
                            </div>

                        </div>
                        <div class="instagram__main">
                            <div class="instagram__descr">
                                Занимаетесь и есть что показать?
                            </div>
                            <div class="instagram__text">
                                Публикуйте фото и видео с тэгом <a href="#" class="link">#магисспорт</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="classes-action">
            <a href="#" class="classes-link classes-link_prev">
                <div class="classes-link__layer"></div>

                <div class="classes-link__wrapper">
                    <span class="classes-link__title">Танцевальные направления</span>
                </div>
            </a>
            <a href="#" class="classes-link classes-link_next">
                <div class="classes-link__bg" style="background-image: url('/images/link-bg-2.jpg')"></div>

                <div class="classes-link__layer classes-link__layer_pink"></div>

                <div class="classes-link__wrapper">
                    <span class="classes-link__title">Twerk</span>
                </div>
            </a>
        </div>

    </div>
{% endblock %}
