{% extends 'modules/_main.twig' %}
{% block meta %}
    <title>События</title>
{% endblock %}


{% block content %}
    <div class="events">

        <div class="events__wrapper block">
            <div class="events__content block__wrapper">
                <h1 class="events__title">События</h1>

                <div class="events__cols">
                    <div class="events__col events__col_left">

                        <div class="events-list">

                            <div class="events-list__next">
                                <div class="events-list__border">

                                    <div class="events-list__name"><span>Предстоящие мероприятия</span></div>
                                    <div class="events-item">
                                        <div class="events-item__header">
                                            <a href="#" class="events-item__img">
                                                <img src="/images/temp/events-3.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="events-item__descr">
                                            <div class="events-item__info events-item__info_date">17 августа</div>
                                            <div class="events-item__info events-item__info_price">450 рублей</div>
                                        </div>
                                        <div class="events-item__title"><a href="#" class="events-item__link">Фитнес-тур в Белокуриху.Ваши потрясающие каникулы!</a></div>
                                        <p>
                                            ренеры «Магис Спорт» не только эффективно работают, но и умеют прекрасно отдыхать:
                                            с пользой и удовольствием. Приглашаем Вас в увлекательный фитнес-тур в Белокуриху с 18 по 20 ноября!
                                        </p>
                                        <div class="events-item__tags">
                                            <a href="#" class="events-item__tag events-item__tag_turquoise events-item__tag_filled">
                                                <span>Мероприятия</span>
                                            </a>
                                            <a href="#" class="events-item__tag events-item__tag_pink"><span>Грудничковое плавание</span></a>
                                            <a href="#" class="events-item__tag events-item__tag_blue"><span>Соревнования</span></a>
                                        </div>
                                    </div>

                                    <div class="events-item">
                                        <div class="events-item__descr">
                                            <div class="events-item__info events-item__info_date">17 августа</div>
                                        </div>
                                        <div class="events-item__title"><a href="#" class="events-item__link">День физкультуры в «Магис-Спорт»:вкусные фитнес-новинки и подарки!</a></div>
                                        <p>
                                            В здоровом теле – здоровый дух!» - с этим девизом наша страна отмечает
                                            самый спортивный день в году - День физкультурника. Мы в
                                            «Магис-Спорт» не смогли пройти мимо этого
                                            события и подготовили приятный сюрприз для всех членов наших клубов.
                                        </p>
                                        <div class="events-item__tags">
                                            <a href="#" class="events-item__tag events-item__tag_turquoise events-item__tag_filled"><span>Мероприятия</span></a>
                                            <a href="#" class="events-item__tag events-item__tag_pink"><span>Грудничковое плавание</span></a>
                                            <a href="#" class="events-item__tag events-item__tag_blue"><span>Соревнования</span></a>
                                        </div>
                                    </div>

                                    <a href="#" class="events-list__link">Прошедшие мероприятия</a>
                                </div>
                            </div>

                            <div class="events-item events-item_photos">
                                <div class="events-item__header">
                                    <a href="#" class="events-item__img">
                                        <img src="/images/temp/events-4.jpg" alt="">
                                        <div class="events-item__amount">+10</div>
                                    </a>
                                    <a href="#" class="events-item__photos">
                                        <div class="events-item__photo" style="background-image: url('/images/temp/events-5.jpg')"></div>
                                        <div class="events-item__photo" style="background-image: url('/images/temp/events-6.jpg')"></div>
                                        <div class="events-item__photo" style="background-image: url('/images/temp/events-7.jpg')"></div>
                                        <div class="events-item__photo" style="background-image: url('/images/temp/events-8.jpg')"></div>
                                        <div class="events-item__amount">+10</div>
                                    </a>
                                </div>
                                <div class="events-item__title"><a href="#" class="events-item__link">29 апреля состоялся финал конкурса красоты«Мисс Магис»</a></div>
                                <p>
                                    Сегодня пятница, а это значит, что вновь пора объявить победителя розыгрыша
                                    сертификата в ресторан Магис Спорт. Десятым победителем в розыгрышах становится...
                                </p>
                                <div class="events-item__descr">
                                    <div class="events-item__info events-item__info_date">17 августа</div>
                                </div>
                                <div class="events-item__tags">
                                    <a href="#" class="events-item__tag events-item__tag_violet events-item__tag_filled"><span>Фотоотчет</span></a>
                                    <a href="#" class="events-item__tag events-item__tag_grey"><span>Грудничковое плавание</span></a>
                                    <a href="#" class="events-item__tag events-item__tag_yellow"><span>Соревнования</span></a>
                                </div>
                            </div>

                            <div class="events-item">
                                <div class="events-item__header">
                                    <a href="#" class="events-item__img">
                                        <img src="/images/temp/events-1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="events-item__descr">
                                    <div class="events-item__info events-item__info_date">17 августа</div>
                                    <div class="events-item__info events-item__info_price">450 рублей</div>
                                </div>
                                <div class="events-item__title"><a href="#" class="events-item__link">Мастер-класс для детей «Pizza-Party или Viva Italia»</a></div>
                                <p>
                                    Чем занять ребенка в свободное время? Увлекательный и полезный вид детского досуга — кулинарные и творческие мастер-классы.
                                    Ваш ребенокс большим энтузиазмом примет участие в мастер-классах от
                                    детского центра Магис-kids! Под руководством аниматоров ребята познают секреты...
                                </p>
                                <div class="events-item__tags">
                                    <a href="#" class="events-item__tag events-item__tag_turquoise events-item__tag_filled"><span>Мероприятия</span></a>
                                    <a href="#" class="events-item__tag events-item__tag_pink"><span>Грудничковое плавание</span></a>
                                    <a href="#" class="events-item__tag events-item__tag_blue"><span>Грудничковое плавание</span></a>
                                </div>
                            </div>

                            <div class="events-list__action">
                                <button type="button" class="button button_more"><span>Еще 15 событий</span> 21.09 — 30.09</button>
                            </div>
                        </div>
                    </div>
                    <div class="events__col events__col_right">

                        <div class="events-nav" js-opener>
                            <div class="events-nav__item">
                                <a href="#" class="events-nav__name events-nav__name_sport events-nav__name_current" data-open="1" js-open>Магис-Спорт</a>
                                <div class="events-nav__toggle" js-open-content data-open="1">
                                    <ul class="events-nav__list">
                                        <li class="events-nav__section events-nav__section_active">
                                            <a href="#">Все события</a>
                                        </li>
                                        <li class="events-nav__section">
                                            <a href="#">Новости</a>
                                        </li>
                                        <li class="events-nav__section">
                                            <a href="#">Акции</a>
                                        </li>
                                        <li class="events-nav__section">
                                            <a href="#">Фотоотчёты</a>
                                        </li>
                                        <li class="events-nav__section">
                                            <a href="#">Мероприятия</a>
                                        </li>
                                        <li class="events-nav__section">
                                            <a href="#">Наши достижения</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="events-nav__item">
                                <a href="#" class="events-nav__name events-nav__name_kids" data-open="2" js-open>Магис-Dети</a>
                                <div class="events-nav__toggle" js-open-content data-open="2">
                                    <ul class="events-nav__list">
                                        <li class="events-nav__section events-nav__section_active">
                                            <a href="#">Все события</a>
                                        </li>
                                        <li class="events-nav__section">
                                            <a href="#">Новости</a>
                                        </li>
                                        <li class="events-nav__section">
                                            <a href="#">Акции</a>
                                        </li>
                                        <li class="events-nav__section">
                                            <a href="#">Фотоотчёты</a>
                                        </li>
                                        <li class="events-nav__section">
                                            <a href="#">Мероприятия</a>
                                        </li>
                                        <li class="events-nav__section">
                                            <a href="#">Наши достижения</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="events-nav__item">
                                <a href="#" class="events-nav__name events-nav__name_spa" data-open="3" js-open>Магис-SPA</a>
                                <div class="events-nav__toggle" js-open-content data-open="3">
                                    <ul class="events-nav__list">
                                        <li class="events-nav__section events-nav__section_active">
                                            <a href="#">Все события</a>
                                        </li>
                                        <li class="events-nav__section">
                                            <a href="#">Новости</a>
                                        </li>
                                        <li class="events-nav__section">
                                            <a href="#">Акции</a>
                                        </li>
                                        <li class="events-nav__section">
                                            <a href="#">Фотоотчёты</a>
                                        </li>
                                        <li class="events-nav__section">
                                            <a href="#">Мероприятия</a>
                                        </li>
                                        <li class="events-nav__section">
                                            <a href="#">Наши достижения</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="instagram instagram_events block">
            <div class="instagram__wrapper block__wrapper">
                <div class="instagram__content">
                    <div class="instagram__col instagram__col_left">

                        <div class="instagram__header">
                            <h1 class="instagram__title">В Инстаграме</h1>
                            <a href="#" target="_blank" class="instagram__title link">#Магисспорт</a>
                        </div>

                        <div class="instagram__main">
                            <div class="instagram__item">
                                <a href="#" target="_blank" class="instagram__link" style="background-image: url('/images/insta/insta-strip.jpg')"></a>
                                <a href="#" target="_blank" class="instagram__name">
                                    <div class="instagram__name__overlay"></div>
                                    <div class="instagram__name__content">
                                        <span>magis_plaza</span>
                                    </div>
                                </a>
                            </div>
                            <div class="instagram__item">
                                <a href="#" target="_blank" class="instagram__link" style="background-image: url('/images/insta/insta-strip-1.jpg')"></a>
                                <a href="#" target="_blank" class="instagram__name">
                                    <div class="instagram__name__overlay"></div>
                                    <div class="instagram__name__content">
                                        <span>yana_kungurova21</span>
                                    </div>
                                </a>
                            </div>
                            <div class="instagram__item">
                                <a href="#" target="_blank" class="instagram__link" style="background-image: url('/images/insta/insta-strip-2.jpg')"></a>
                                <a href="#" target="_blank" class="instagram__name">
                                    <div class="instagram__name__overlay"></div>
                                    <div class="instagram__name__content">
                                        <span>yana_kungurova21</span>
                                    </div>
                                </a>
                            </div>
                            <div class="instagram__item">
                                <a href="#" target="_blank" class="instagram__link" style="background-image: url('/images/insta/insta-strip-3.jpg')"></a>
                                <a href="#" target="_blank" class="instagram__name">
                                    <div class="instagram__name__overlay"></div>
                                    <div class="instagram__name__content">
                                        <span>di_chern</span>
                                    </div>
                                </a>
                            </div>
                            <div class="instagram__item">
                                <a href="#" target="_blank" class="instagram__link" style="background-image: url('/images/insta/insta-strip-4.jpg')"></a>
                                <a href="#" target="_blank" class="instagram__name">
                                    <div class="instagram__name__overlay"></div>
                                    <div class="instagram__name__content">
                                        <span>magis_sport</span>
                                    </div>
                                </a>
                            </div>
                            <div class="instagram__item">
                                <a href="#" target="_blank" class="instagram__link" style="background-image: url('/images/insta/insta-strip-5.jpg')"></a>
                                <a href="#" target="_blank" class="instagram__name">
                                    <div class="instagram__name__overlay"></div>
                                    <div class="instagram__name__content">
                                        <span>daryaus</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="instagram__col instagram__col_right">
                        <div class="instagram__header">

                            <div class="socials socials_events">
                                <a href="#" target="_blank" class="socials__item socials__item_fb"></a>
                                <a href="#" target="_blank" class="socials__item socials__item_vk"></a>
                                <a href="#" target="_blank" class="socials__item socials__item_ok"></a>
                            </div>

                        </div>
                        <div class="instagram__main">
                            <div class="instagram__descr">
                                Занимаетесь и есть что показать?
                            </div>
                            <div class="instagram__text">
                                Публикуйте фото и видео с тэгом <a href="#" class="link">#магисспорт</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
