{% extends 'modules/_main.twig' %}
{% block meta %}
    <title>Групповые занятия</title>
{% endblock %}


{% block content %}
    <div class="classes">

        <div class="classes-about block">
            <div class="classes-about__wrapper block__wrapper">

                <div class="classes-about__header">
                    <div class="crumbs">
                        <a href="#" class="crumbs__item">Услуги</a>
                    </div>
                </div>
                <div class="classes-about__descr">
                    <div class="classes-about__col">
                        <h1>Групповые занятия</h1>
                        <p>
                            Придя на групповое занятие, даже без особой подготовки, вы сразу станете частью
                            увлекательного процесса, который вам захочется освоить на пять с плюсом!
                        </p>
                    </div>
                </div>
            </div>
        </div>

        {% include 'modules/groups.twig' %}

        <div class="timetable block">
            <div class="timetable__wrapper block__wrapper">

                <div class="timetable__title">Занятия сегодня</div>
                <a href="#" class="timetable__link">Расписание на неделю</a>

                <div class="timetable-list">
                    {#модификатор timetable-list_small для маленьких плашек#}
                    <div class="timetable-list__club">
                        <div class="timetable-list__title">Взлётная</div>

                        <div class="timetable-list-content">
                            <div class="timetable-list__item timetable-list__item_pink">
                                <div class="timetable-list__item-content">
                                    <div class="timetable-list__name">Mind & Body</div>
                                    <div class="timetable-list__time">14:00 – 15:00</div>
                                    <div class="timetable-list__place">307 хореография</div>
                                </div>
                            </div>

                            <div class="timetable-list__item timetable-list__item_blue">
                                <div class="timetable-list__item-content">
                                    <div class="timetable-list__name">AQUA TORSO</div>
                                    <div class="timetable-list__time">13:00 – 14:00</div>
                                    <div class="timetable-list__place">307 хореография</div>
                                </div>
                            </div>

                            <div class="timetable-list__item timetable-list__item_green">
                                <div class="timetable-list__item-content">
                                    <div class="timetable-list__name">BALLROOM STUDIO</div>
                                    <div class="timetable-list__time">14:00 – 15:00</div>
                                    <div class="timetable-list__place">307 хореография</div>
                                </div>
                            </div>

                            <div class="timetable-list__item timetable-list__item_grey">
                                <div class="timetable-list__item-content">
                                    <div class="timetable-list__name">CONTEMPORARY</div>
                                    <div class="timetable-list__time">13:00 – 14:00</div>
                                    <div class="timetable-list__place">307 хореография</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="timetable-list__club">
                        <div class="timetable-list__title">Плаза</div>

                        <div class="timetable-list-content">
                            <div class="timetable-list__item timetable-list__item_violet">
                                <div class="timetable-list__item-content">
                                    <div class="timetable-list__name">Батут </div>
                                    <div class="timetable-list__time">14:00 – 15:00</div>
                                    <div class="timetable-list__place">42 Плаза, зал групповыхзанятий №4 </div>
                                </div>
                            </div>

                            <div class="timetable-list__item timetable-list__item_green_dark">
                                <div class="timetable-list__item-content">
                                    <div class="timetable-list__name">ZUMBA</div>
                                    <div class="timetable-list__time">13:00 – 14:00</div>
                                    <div class="timetable-list__place">42 Плаза, зал групповыхзанятий №4 </div>
                                </div>
                            </div>

                            <div class="timetable-list__item timetable-list__item_turquoise">
                                <div class="timetable-list__item-content">
                                    <div class="timetable-list__name">BALLROOM STUDIO</div>
                                    <div class="timetable-list__time">14:00 – 15:00</div>
                                    <div class="timetable-list__place">42 Плаза, зал групповыхзанятий №4 </div>
                                </div>
                            </div>

                            <div class="timetable-list__item timetable-list__item_orange">
                                <div class="timetable-list__item-content">
                                    <div class="timetable-list__name">CONTEMPORARY</div>
                                    <div class="timetable-list__time">13:00 – 14:00</div>
                                    <div class="timetable-list__place">42 Плаза, зал групповыхзанятий №4 </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="classes-action">
            <a href="#" class="classes-link classes-link_next">
                <div class="classes-link__bg" style="background-image: url('/images/link-bg.jpg')"></div>

                <div class="classes-link__layer classes-link__layer_blue"></div>

                <div class="classes-link__wrapper">
                    <span class="classes-link__title">Тренажёрный зал</span>
                </div>
            </a>
        </div>

    </div>
{% endblock %}
