{% extends 'modules/_main.twig' %}
{% block pageMod %}page-index{% endblock %}
{% block headerMod %}header_white{% endblock %}
{% block meta %}
    <title>Магис-Спорт</title>
{% endblock %}


{% block content %}

<div class='clubs block'>
    <div class='clubs__wrapper block__wrapper'>
        <h1 class='clubs__title'>Велнесc-клубы <nobr>Магис-Спорт</nobr></h1>
        <div class='clubs__list'>
            <div class='clubs-item clubs-item_vzlet clubs__list-item'>
                <div class='clubs-item__photo'>
                    <a href='club.html' class='clubs-item__photo-link'>
                        <div class='clubs-item__photo-image'>
                            <div style='background-image: url(images/vzlet.jpg);' class='clubs-item__photo-image-img'></div>
                        </div>
                        <h2 class='clubs-item__photo-title'>
                            <span class='clubs-item__photo-title-text'>На Взлетной</span>
                        </h2>
                    </a>
                </div>
                <div class='clubs-item__info'>
                    <div class='clubs-item__info-main'>
                        <div class='clubs-item__info-main-left'>
                            <div class='clubs-item__metrics'>
                                <div class='clubs-item__metrics-data'>6000 м<sup>2</sup></div>
                                <div class='clubs-item__metrics-title'>Общая площадь</div>
                            </div>
                        </div>
                        <div class='clubs-item__info-main-right'>
                            <div class='clubs-item__contacts'>
                                <div class='clubs-item__contacts-item'>ул. Взлетная, 25</div>
                                <div class='clubs-item__contacts-item'><a href='tel:+7 (3852) 535-525'>+7 (3852) 535-525</a></div>
                                <div class='clubs-item__contacts-item'><a class='clubs-item__contacts-map' href='#' role='link'><u>Показать на карте</u></a></div>
                            </div>
                        </div>
                    </div>
                    <div class='clubs-item__info-descr'>
                        <div class='clubs-item__descr'>
                            <div class='clubs-item__descr-item'>
                                <h3 class='clubs-item__descr-title'>Спальный район</h3>
                                <div class='clubs-item__descr-text'>
                                    <p>Удобное расположение, для тех кто живёт рядом и предпочитает ходить заниматься из дома.</p>
                                </div>
                            </div>
                            <div class='clubs-item__descr-item'>
                                <h3 class='clubs-item__descr-title'>Бассейн</h3>
                                <div class='clubs-item__descr-text'>
                                    <p>Удобное расположение, для тех кто живёт рядом и предпочитает ходить заниматься из дома.</p>
                                </div>
                            </div>
                            <div class='clubs-item__descr-item'>
                                <h3 class='clubs-item__descr-title'>Хамам</h3>
                                <div class='clubs-item__descr-text'>
                                    <p>Удобное расположение, для тех кто живёт рядом и предпочитает ходить заниматься из дома.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='clubs-item clubs-item_plaza clubs__list-item'>
                <div class='clubs-item__photo'>
                    <a href='club.html' class='clubs-item__photo-link'>
                        <div class='clubs-item__photo-image'>
                            <div style='background-image: url(images/plaza.jpg);' class='clubs-item__photo-image-img'></div>
                        </div>
                        <h2 class='clubs-item__photo-title'>
                            <span class='clubs-item__photo-title-text'>В Плазе</span>
                        </h2>
                    </a>
                </div>
                <div class='clubs-item__info'>
                    <div class='clubs-item__info-main'>
                        <div class='clubs-item__info-main-left'>
                            <div class='clubs-item__metrics'>
                                <div class='clubs-item__metrics-data'>1500 м<sup>2</sup></div>
                                <div class='clubs-item__metrics-title'>Общая площадь</div>
                            </div>
                        </div>
                        <div class='clubs-item__info-main-right'>
                            <div class='clubs-item__contacts'>
                                <div class='clubs-item__contacts-item'>пр. Красноармейский, 25</div>
                                <div class='clubs-item__contacts-item'><a href='tel:+7 (3852) 538-333'>+7 (3852) 538-333</a></div>
                                <div class='clubs-item__contacts-item'><a class='clubs-item__contacts-map' href='#' role='link'><u>Показать на карте</u></a></div>
                            </div>
                        </div>
                    </div>
                    <div class='clubs-item__info-descr'>
                        <div class='clubs-item__descr'>
                            <div class='clubs-item__descr-item'>
                                <h3 class='clubs-item__descr-title'>Деловой центр</h3>
                                <div class='clubs-item__descr-text'>
                                    <p>После работы можно спокойно позаниматься, после чего без пробок доехать домой.</p>
                                </div>
                            </div>
                            <div class='clubs-item__descr-item'>
                                <h3 class='clubs-item__descr-title'>12 танцевальных занятий</h3>
                                <div class='clubs-item__descr-text'>
                                    <p>На Взётной всего 5.</p>
                                </div>
                            </div>
                            <div class='clubs-item__descr-item'>
                                <h3 class='clubs-item__descr-title'>Этаж детского направления</h3>
                                <div class='clubs-item__descr-text'>
                                    <p>Теперь не надо думать где и чем будет заниматься ребёнок, пока вы тренеруетесь — он будет на этаже ниже.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="billboard block">
    <div class="billboard__wrapper block__wrapper">

        <div class="billboard__content">
            <h2>Велнесс-клуб — комплексный подход к здоровому образу жизни</h2>

            <div class="billboard__text">
                Это сбалансированная и гармоничная жизнь, где физическая активность сочетается
                с отдыхом и расслаблением. Быть здесь — значит любить свое тело, развивать свои возможности
                и справляться со всеми внешними нагрузками.
            </div>

            <div class="billboard__offer">
                Ознакомьтесь с нашими предложениями по
                <a href="#" class="billboard__link">
                    клубным картам
                </a>
            </div>
        </div>

    </div>
</div>

<div class="section">
    <div class="section__col section__col_left">
        <div class="section__bg section__bg_colored"></div>
    </div>
    <div class="section__col section__col_right">
        <div style="background-image: url(/images/section-bg1.jpg)" class="section__bg"></div>
    </div>
</div>


<div class="trial block">
    <div class="trial__wrapper block__wrapper">

        <div class="trial__content">
            <div class="trial__col">
                <h1>Запишитесь на пробное посещение</h1>
                <div class="trial__text">
                    Вы сможете <span>бесплатно</span> протестировать
                    все возможности клуба, оценить качество оборудования и познакомиться
                    с тренерским составом.
                </div>
            </div>

            <div class="trial__col">

                <div class="form">
                    <form>
                        <label class="input is-error" js-input>
                            <input class="input__self" type="text">
                            <span class="input__label">
                                Представьтесь
                            </span>
                            <span class="input__error">Укажите имя</span>
                        </label>

                        <label class="input is-error" js-input>
                            <input class="input__self" data-masked="phone" type="text">
                            <span class="input__label">
                                Номер телефона
                            </span>
                            <span class="input__error">Необходимо указать номер телефона</span>
                        </label>

                        {#<label class="input input_textarea" js-input>#}
                        {#<textarea class="input__self" type="text"></textarea>#}
                        {#<span class="input__label">#}
                        {#Дополнительно#}
                        {#</span>#}
                        {#</label>#}


                        <div class="form__actions">
                            <button class="button button_fullsize" type="submit"><span>Записаться</span></button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
