﻿.is-grabbing,
.is-grabbing * {
   cursor move
   cursor -moz-grabbing
   cursor -webkit-grabbing
   cursor grabbing
}

html,
body {
   color $color-text
   font-family $font-helv
   font-weight 400
   font-size $font-size-main
   line-height (24/no-unit($font-size-main))
}

body {
   overflow hidden
   display flex
   overflow-y scroll
   background #fff
   -webkit-text-size-adjust none

   &:before{
      content ''
      min-height 100vh
      flex 0 0 auto
      display block
   }
}

.body__wrapper{
   flex 1 1 auto
   overflow hidden
   display flex
   flex-direction column
}
.body__content{
   flex 1 0 auto
   position relative
}

input,
select,
textarea,
button,
label {
   color inherit
   font-family inherit
   font-weight inherit
   font-style inherit
   font-size inherit
   line-height inherit
}

input,
textarea {
   +placeholder() {
      color inherit
      font-size inherit
      line-height inherit
   }
}

h1, $h1,
h2, $h2,
h3, $h3,
h4, $h4,
h5, $h5,
h6, $h6 {
   color inherit
   font-family $font-helv
   font-weight 300
   line-height 1.2
   text-align inherit
}
$h1,
h1 {
   margin-bottom (50/44)em
   font-size 44px
   +do(800) {
      font-size 38px
   }
   +do(600) {
      font-size 30px
   }
}
$h2,
h2 {
   margin-bottom (27/30)em
   font-size 30px
   +do(800) {}
   +do(600) {
      font-size 26px
   }
}
$h3,
h3 {
   margin-bottom (26/24)em
   font-size 24px
}


$link,
a {
   -webkit-tap-highlight-color rgba(#000, 0)
   transition none .3s ease-out
   transition-property color, background-image, background-color, border-color
   text-decoration none
   color $color-pink
   border-bottom 1px solid $color-lpink

   &:hover{
      border-color transparent
   }
}


[role='link'] {
   -webkit-tap-highlight-color rgba(#000, 0)
   cursor pointer
   border 0
   color inherit
   text-decoration none
   u {
      transition none .3s ease-out
      transition-property color, background-image, background-color, border-color
      border-bottom 1px solid $color-lpink
      color $color-pink
      text-decoration none
   }
   &:hover {
      u {
         border-color transparent
      }
   }
}
[role='button'] {
   -webkit-tap-highlight-color rgba(#000, 0)
   cursor pointer
   border 0
   color inherit
   text-decoration none
   u {
      transition none .3s ease-out
      transition-property color, background-image, background-color, border-color
      text-decoration none
   }
   &:hover {
      color inherit
      //u {
      //   border-color $color-red
      //   color $color-red
      //}
   }
}
a[href^='callto:'],
a[href^='tel:'] {
   background none !important
   border 0 !important
   color inherit !important
   text-decoration none !important
}

u[title] {
   margin-right -.25em
   margin-left -.25em
   padding-right .25em
   padding-left .25em
   border-bottom 1px dashed rgba($color-main, .25)
   text-decoration none
}
small {
   font-size .8em
}

big {
   font-size 1.2em
}

abbr {
   margin-right -.15em
   font-size .85em
   letter-spacing .15em
   text-decoration none
   text-transform uppercase
   &[title] {
      border-bottom 1px dotted
      cursor help
   }
}

$p,
p,
table,
ul,
ol,
blockquote {
   margin-bottom (24/$font-size-main)em
}

p {
   +suff('ul' 'ol', '+') {
      margin-top (-12/$font-size-main)em
   }
   img,
   iframe {
      max-width 100%
   }
}

li {
   margin-bottom (12/$font-size-main)em
}

ul,
ol {
   display table
   li:last-child {
      margin-bottom 0
   }
}
ul > li {
   position relative
   padding-left 1.3em
   &:before {
      content '•'
      position absolute
      top 0
      left 0
      font-weight 600
      color #848484
   }
}
ul[type='disc'] > li {
   padding-left 1.3em
   &:before {
      content '•'
      position absolute
      top 0
      left 0
      font-weight 600
      color #848484
   }
}

ul[type='simple'] > li {
   padding-left 3em
   &:before {
      content normal
   }
}
ul[type='none'] > li {
   padding-left 0
   &:before {
      content normal
   }
}

ol {
   counter-reset nums
}
ol > li {
   position relative
   counter-increment nums
   padding-left 1.3em
   &:before {
      content counter(nums) '.'
      float left
      margin-left -(28/$font-size-main)em
      width (20/$font-size-main)em
      text-align right
      font-weight 700
      color #848484
   }
}

.table,
table {
   overflow auto
   max-width 100%
   margin-top (24/$font-size-main)em
   margin-bottom (24/$font-size-main)em
}
.table table {
   margin 0
}
.table.mod-full{
   width 100%
}
tr {}
td,
th {
   vertical-align top
   width auto
   border 1px solid $color-main
   border-width 1px 0
   padding (14/$font-size-main)em (14/$font-size-main)em (15/$font-size-main)em
   +suff('td' 'th', '+') {
      // padding-left (40/$font-size-main)em
   }
}
th {
   padding (10/12)em (14/12)em (11/12)em
   color #808080
   font-weight 400
   font-size (12/$font-size-main)em
}
thead {
   th,
   td {
      border-top-width 0
      border-bottom-width 2px
   }
}
tfoot {
   th,
   td {
      border-top-width 2px
      border-bottom-width 0
   }
   th {
      padding (10/14)em (14/14)em (11/14)em
      color $color-main
      font-weight 600
      font-size (14/$font-size-main)em
   }
   tr:nth-child(odd) {
      td {
         background none
      }
   }
}

p + p{
   margin-top .75em
}

sup{
   font-size .55em
   vertical-align super
}
