::-moz-focus-inner {
   padding: 0;
   border: 0;
}

.button{
   transition .3s

   outline 0
   box-sizing border-box
   display inline-block
   position relative

   padding 11px 40px 11px
   background-color $color-pink
   border 2px solid $color-pink
   border-radius 3px

   font-family $font-helv
   color #fff
   font-size 18px
   font-weight 700
   line-height 1.3
   letter-spacing 0
   text-align center
   text-decoration none
   user-select none
   cursor pointer
   white-space nowrap
   outline none

   &:hover {
      background $color-dred
      border-color $color-dred
   }

   &.is-active,
   &:active {}

   &:disabled,
   &.is-disabled {}

}


.button_round{
   padding 9px 25px 9px
   background-color transparent
   border 2px solid $color-black
   border-radius 30px

   font-size 14px
   color $color-main

   &:hover{
      background $color-black
      border-color $color-black

      color #fff
   }


   +do(650){
      padding 7px 25px 7px
      font-size 12px
   }

   +do(500){
      padding 7px 25px 7px
   }
}


.button_gray{
   border 2px solid $color-gray
   border-radius 30px
   color #fff

   &:hover{
      background $color-gray
      border-color $color-gray
   }
}


.button_white{
   border 2px solid $color-dwhite
   color $color-main

   font-size 14px
   font-weight 700

   &:hover{
      background $color-dwhite
      border-color $color-dwhite
      color $color-main
   }
}


.button_fullsize{
   width 100%
   padding 20px 40px 15px
}


.button_choice{
   height 55px
   margin 0 5px 0
   padding 15px 25px 13px 30px
   transform skew(-10deg)
   background $color-inactive
   border none
   border-radius 0

   +do(867){
      flex 1
      margin-bottom 10px
   }

   +do(425){
      height 50px
      .clubs-choice__name{
         font-size 14px
      }
   }

   &:hover{
      background $color-inactive
   }

   .clubs-choice__list-content{
      transform skew(10deg)
   }

   &_active{
      background $color-lilac
      cursor default

      &:hover{
         background $color-lilac
      }

      .clubs-choice__name{
         font-size 18px
         border-bottom 1px dotted #fff

         +do(500){
            font-size 16px
         }
      }
   }
}


.button_more{
   font-size 16px
   font-weight 600
   padding 18px 30px 16px

   span{
      margin-right 30px
      border-bottom 1px dashed rgba(#fff, .5)
   }

   +do(500){
      font-size 14px
      padding 11px 20px 11px
   }
}

