include-font(font-name, file-name, font-weight = normal, font-style = normal) {
   @font-face {
      font-family font-name
      src url('../fonts/'+file-name+'.woff') format('woff')
      font-weight font-weight
      font-style font-style
   }
}


include-font('_ekibas', 'Ekibastuz-Light', 300)
include-font('_ekibas', 'Ekibastuz-Regular', 400)
include-font('_ekibas', 'Ekibastuz-Heavy', 600)
include-font('_ekibas', 'Ekibastuz-Bold', 700)
include-font('_ekibas', 'Ekibastuz-Black', 800)
include-font('_ekibas', 'Ekibastuz-ExtraBlack', 900)

include-font('_helv', 'HelveticaNeueCyr-UltraLight', 100)
include-font('_helv', 'HelveticaNeueCyr-UltraLightItalic', 100, italic)
include-font('_helv', 'HelveticaNeueCyr-Thin', 200)
include-font('_helv', 'HelveticaNeueCyr-ThinItalic', 200, italic)
include-font('_helv', 'HelveticaNeueCyr-Light', 300)
include-font('_helv', 'HelveticaNeueCyr-LightItalic', 300, italic)
include-font('_helv', 'HelveticaNeueCyr-Roman', 400)
include-font('_helv', 'HelveticaNeueCyr-Italic', 400, italic)
include-font('_helv', 'HelveticaNeueCyr-Medium', 600)
include-font('_helv', 'HelveticaNeueCyr-Bold', 700)
include-font('_helv', 'HelveticaNeueCyr-BoldItalic', 700, italic)
include-font('_helv', 'HelveticaNeueCyr-Black', 800)
include-font('_helv', 'HelveticaNeueCyr-BlackItalic', 800, italic)

include-font('_helv-c', 'HelveticaNeueBoldCondensed', 700)
include-font('_helv-c', 'HelveticaNeueBlackCondensed', 800)
