label {
   -webkit-tap-highlight-color rgba(#000, 0)
   display block
}

.form {
   display flex
   flex-wrap wrap
   flex-direction column

   form{
      width 370px
      align-self flex-end

      +do(760){
         width auto
         align-self auto
      }
   }

   &__input {
      display block
      margin-bottom 30px
   }

}
