.selectus {
   box-sizing border-box
   vertical-align top
   display inline-block
   position relative
   width 100%

   &.is-disabled{
      cursor default

      select{
         cursor default
      }

      .selectus-drop{
         visibility hidden
      }
   }

   &-drop {
      flex-shrink 0
      flex-basis 40px
      position relative
      width 40px
      margin-right -.75em
      border-left 1px solid $color-grey
      height 32px

      

      &:before {
         content ''
         position absolute
         top 0
         bottom 0
         right 100%
         width 50%
         margin-right 1px
         background linear-gradient(right, 0% rgba(#fff, 1), 100% rgba(#fff, 0))
      }
   }
   &-input {
      @extend input[type=text]
      display flex
      align-items center

      input {
         user-select none
         flex 1 1 auto
         width 0
         min-height 1.5em
         margin 0
         padding 0
         border 0
         background 0
      }
   }
   select {
      opacity 0
      cursor pointer
      z-index 10
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      font-size 16px
   }
   select:focus + &-input {
      border-color $color-green
   }

   select:focus + &-input {
      .selectus-drop {
         //border-left 1px solid $color-green
      }
   }
}
