//$inputs-padding = unit(6/$font-size-main, 'em') unit(14/$font-size-main, 'em') unit(7/$font-size-main, 'em')

input:-webkit-autofill {
   color $color-main !important
   background-color transparent !important
}

input,
textarea {
   +placeholder() {
      color $color-lblue

   }
}

input[type=text] {
   -webkit-appearance none
   transition all .3s ease-in-out
   box-sizing border-box
   width 100%
   padding 25px 20px 21px
   border 1px solid transparent
   box-shadow none
   background $color-lgray
   color $color-main
   font-size 16px
   font-weight 600
   outline none
   line-height normal
   border-radius 3px

   &:focus {
      background transparent
      border-color $color-lgray
   }
}

input[type='number'],
input[type='email'],
input[type='tel'],
input[type='search'],
input[type='url'],
input[type=password],
textarea {
   @extend input[type=text]
}

textarea {
   resize vertical
}

.checkbox {
   user-select none
   display block
   position relative
   margin-bottom 17px
   text-align left
   cursor pointer

   &:last-child{
      margin-bottom 0
   }
   +do(400) {
      padding-top .15em
   }


   input {
      opacity 0
      position absolute
      top 0
      left 0
      min-height 0
      size 0
   }

   &__input {
      display inline-block
      position absolute
      top 0
      left 0
      size 17px
      background #fff
      &:before {
         pointer-events none
         content ''
         transition transform .2s ease-out, opacity .2s ease-out
         transform scale(0.001)
         opacity 0
         position absolute
         top 63%
         left 35%
         //spritus('main:check')
         margin-top -(@height/2) - 3
         margin-left -(@width/2) + 4
      }
   }
   &:hover &__input,
   &.is-hover &__input {}

   input:checked ~ &__input {
      &:before {
         opacity 1
         transform scale(1)
      }
   }
   input:focus ~ &__input {}
   &__text {
      font-family $font-tele2-sans
      font-size 15px
      color #fff
      padding-left 28px
   }
   input:checked ~ &__text {}

}
.checkbox-radio {
   user-select none
   display block
   position relative
   margin-bottom .75em
   padding-left 24px
   text-align left
   +do(400) {
      padding-top .15em
   }
   input {
      opacity 0
      position absolute
      top 0
      left 0
      min-height 0
      size 0
   }
   &__input {
      display inline-block
      position absolute
      top .225em
      left 0
      size 14px
      border 1px solid $color-grey
      border-radius 50%
      background #fff
      &:before {
         pointer-events none
         content ''
         transition transform .2s ease-out
         transform scale(0.001)
         opacity 0
         position absolute
         top 50%
         left 50%
         size 8px
         margin-top -(@height/2)
         margin-left -(@width/2)
         background-color $color-red
         border-radius 50%
      }
   }
   &:hover &__input,
   &.is-hover &-input {
      //border-color $color-main
   }
   input:checked ~ &__input {
      &:before {
         opacity 1
         transform scale(1)
      }
   }
   input:focus ~ &__input {
      border-color $color-grey
   }
   &__text {}
   input:checked ~ &__text {}

   &.mod-small {
      padding-top .225em
      font-weight 600
      font-size 12px
   }
}
