<!DOCTYPE html>
<html class='{% block pageMod %}{% endblock %}'>
    <head>
        <meta name='viewport' content='width=device-width'>
        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
        <meta name="format-detection" content="telephone=no">
        <link rel="shortcut icon" href="/favicon.ico">

        {% block meta %}{% endblock %}

        {% block styles %}
            {% for style in settings.styles %}<link rel='stylesheet' href='{{ style }}'>{% endfor %}
        {% endblock %}

        {% block scripts %}
            {% for script in settings.scripts %}<script src='{{ script }}'></script>{% endfor %}
        {% endblock %}

        <link rel='stylesheet' href='css/common.css'>

        <script src='js/vendor.js'></script>
        <script src='js/common.js'></script>

    </head>
    <body class='body'>
        <div class='body__wrapper'>
            {% include 'header.twig' with {mod: block('headerMod')} %}
            <div class='body__content'>
                {% block content %}
                {% endblock %}
            </div>
            {% include 'footer.twig' %}
        </div>
    </body>
</html>
