<div class="footer block">
    <div class="footer__wrapper block__wrapper">

        <div class="footer__info">

            <div class="footer__content footer__content_top" js-toggler>

                <div class="footer__nav footer__nav_top">
                    <div class="footer__nav-title footer__nav-title_current" data-toggle="1" js-toggle>
                        <span>О клубе</span>
                    </div>

                    <div class="footer__list footer__list_current" js-toggle-content data-toggle="1">
                        <div class="footer__link">
                            <a href="#">О клубе</a>
                        </div>
                        <div class="footer__link">
                            <a href="#">Планировки клубов</a>
                        </div>
                        <div class="footer__link">
                            <a href="#">Вакансии</a>
                        </div>
                        <div class="footer__link">
                            <a href="#">Команда</a>
                        </div>
                        <div class="footer__link">
                            <a href="#">Партнерам</a>
                        </div>
                    </div>
                </div>


                <div class="footer__nav footer__nav_bottom">
                    <div class="footer__nav-title" data-toggle="2" js-toggle>
                        <span>Услуги</span>
                    </div>

                    <div class="footer__list footer__list_right" js-toggle-content data-toggle="2">
                        <div class="footer__link">
                            <a href="#">Клубные карты</a>
                        </div>
                        <div class="footer__link">
                            <a href="#">Магис-спорт</a>
                        </div>
                        <div class="footer__link">
                            <a href="#">Магис-Kids</a>
                        </div>
                        <div class="footer__link">
                            <a href="#">Магис-SPA</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="footer__content">
                <div class="footer__list footer__list_visible">
                    <div class="footer__link footer__link_colored_orange">
                        <a href="#" target="_blank" >
                            <span></span>
                            Спецпроект RE-форма
                        </a>
                    </div>
                    <div class="footer__link footer__link_colored_blue">
                        <a href="#" target="_blank" >
                            <span></span>
                            Спецпроект «Провокация»
                        </a>
                    </div>
                </div>

                <div class="footer__contacts">
                    <div class="footer__contacts-content">
                        <div class="footer__contacts-title"><a href="#">Магис на Взлетной</a></div>
                        <div class="footer__address">ул. Взлетная, 25</div>
                        <div class="footer__tel"><a href="tel: +7 (3852) 535-525">+7 (3852) <span>535-525</span></a></div>
                    </div>

                    <div class="footer__contacts-content">
                        <div class="footer__contacts-title"><a href="#">Магис в Плазе</a></div>
                        <div class="footer__address">пр. Красноармейский, 25</div>
                        <div class="footer__tel"><a href="tel: +7 (3852) 538-333">+7 (3852) <span>538-333</span></a></div>
                    </div>

                    <div class="footer__actions">
                        <div class="button button_round button_white">Напишите нам</div>
                    </div>
                </div>
            </div>

        </div>

        <div class="footer__bottom">
            <div class="footer__copyright"><a href="/">© 2016 «Магис – Спорт»</a></div>

            <div class="socials">
                <div class="socials__item socials__item_tw">
                    <div class="socials-tooltip">
                        <div class="socials-tooltip__wrapper">
                            <a href="#" target="_blank" class="socials-tooltip__item">
                                <div class="socials-tooltip__icon socials-tooltip__icon_sport"></div>
                                <div class="socials-tooltip__text">Спорт</div>
                            </a>

                            <a href="#" target="_blank" class="socials-tooltip__item">
                                <div class="socials-tooltip__icon socials-tooltip__icon_kids"></div>
                                <div class="socials-tooltip__text">Дети</div>
                            </a>

                            <a href="#" target="_blank" class="socials-tooltip__item">
                                <div class="socials-tooltip__icon socials-tooltip__icon_spa"></div>
                                <div class="socials-tooltip__text">SPA</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="socials__item socials__item_fb">
                    <div class="socials-tooltip">
                        <div class="socials-tooltip__wrapper">
                            <a href="#" target="_blank" class="socials-tooltip__item">
                                <div class="socials-tooltip__icon socials-tooltip__icon_sport"></div>
                                <div class="socials-tooltip__text">Спорт</div>
                            </a>

                            <a href="#" target="_blank" class="socials-tooltip__item">
                                <div class="socials-tooltip__icon socials-tooltip__icon_spa"></div>
                                <div class="socials-tooltip__text">SPA</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="socials__item socials__item_vk">
                    <div class="socials-tooltip">
                        <div class="socials-tooltip__wrapper">
                            <a href="#" target="_blank" class="socials-tooltip__item">
                                <div class="socials-tooltip__icon socials-tooltip__icon_sport"></div>
                                <div class="socials-tooltip__text">Спорт</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="socials__item socials__item_ok">
                    <div class="socials-tooltip">
                        <div class="socials-tooltip__wrapper">
                            <a href="#" target="_blank" class="socials-tooltip__item">
                                <div class="socials-tooltip__icon socials-tooltip__icon_sport"></div>
                                <div class="socials-tooltip__text">Спорт</div>
                            </a>

                            <a href="#" target="_blank" class="socials-tooltip__item">
                                <div class="socials-tooltip__icon socials-tooltip__icon_spa"></div>
                                <div class="socials-tooltip__text">SPA</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="socials__item socials__item_yt">
                    <div class="socials-tooltip">
                        <div class="socials-tooltip__wrapper">
                            <a href="#" target="_blank" class="socials-tooltip__item">
                                <div class="socials-tooltip__icon socials-tooltip__icon_sport"></div>
                                <div class="socials-tooltip__text">Спорт</div>
                            </a>

                            <a href="#" target="_blank" class="socials-tooltip__item">
                                <div class="socials-tooltip__icon socials-tooltip__icon_spa"></div>
                                <div class="socials-tooltip__text">SPA</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer__copyright footer__copyright_logo"><a href="http://creonit.ru/" target="_blank" >Разработка сайта</a></div>
        </div>

    </div>
</div>
