<div class="groups">

    <div class="groups__list">
        <a href="#" class="groups__item">
            <div class="groups__layer groups__layer_lilac" style="background-image: url('/images/groups/groups-bg.jpg')"></div>

            <div class="groups__item-wrapper">
                <div class="groups__title">Танцевальные направления</div>
            </div>
        </a>

        <a href="#" class="groups__item">
            <div class="groups__layer groups__layer_blue" style="background-image: url('/images/groups/groups-bg-1.jpg')"></div>

            <div class="groups__item-wrapper">
                <div class="groups__title">Аэробные уроки</div>
            </div>
        </a>

        <a href="#" class="groups__item">
            <div class="groups__layer groups__layer_orange" style="background-image: url('/images/groups/groups-bg-2.jpg')"></div>

            <div class="groups__item-wrapper">
                <div class="groups__title">Силовые уроки</div>
            </div>
        </a>

        <div class="groups__item groups__item_empty">
            <div class="groups__layer groups__layer_violet"></div>

            <div class="groups__item-wrapper">
                <div class="groups__title">Ближайшие занятия</div>

                <div class="groups__class">
                    <div class="groups__time">08:00</div>
                    <div class="groups__name"><span> PILATES </span> на Взлётной</div>
                    <div class="groups__place">304 БЗГЗ</div>
                </div>
                <div class="groups__class">
                    <div class="groups__time">09:00</div>
                    <div class="groups__name"><span> Yoga </span> в Плазе</div>
                    <div class="groups__place">34 ПЛАЗА Зал групповых занятий №1</div>
                </div>
            </div>
        </div>

        <a href="#" class="groups__item">
            <div class="groups__layer groups__layer_green" style="background-image: url('/images/groups/groups-bg-3.jpg')"></div>

            <div class="groups__item-wrapper">
                <div class="groups__title">Функциональные уроки</div>
            </div>
        </a>

        <a href="#" class="groups__item">
            <div class="groups__layer groups__layer_grey" style="background-image: url('/images/groups/groups-bg-4.jpg')"></div>

            <div class="groups__item-wrapper">
                <div class="groups__title">Единоборства</div>
            </div>
        </a>

        <a href="#" class="groups__item">
            <div class="groups__layer groups__layer_pink" style="background-image: url('/images/groups/groups-bg-5.jpg')"></div>

            <div class="groups__item-wrapper">
                <div class="groups__title">Будущим и молодым мамам</div>
            </div>
        </a>

        <a href="#" class="groups__item">
            <div class="groups__layer groups__layer_turquoise"  style="background-image: url('/images/groups/groups-bg-6.jpg')"></div>

            <div class="groups__item-wrapper">
                <div class="groups__title">Mind Body</div>
            </div>
        </a>
    </div>

</div>