<div class="groups groups_lessons block">

    <div class="groups-wrapper block__wrapper">
            <div class="groups__list">
            <a href="#" class="groups__item">
                <div class="groups__layer groups__layer_turquoise" style="background-image: url('/images/groups/dances/dances-bg.jpg')"></div>

                <div class="groups__item-wrapper">
                    <div class="groups__title">STRIP DANCE</div>

                    <div class="groups-toggler">
                        <div class="groups-toggler__item">
                            <span class="groups-toggler__name">Взлётная</span>
                            <span>и</span>
                            <span class="groups-toggler__name">Плаза</span>
                        </div>
                    </div>
                </div>

                <div class="groups__item-info groups__item-info_turquoise">
                    <div class="groups__title">STRIP DANCE</div>

                    <div class="groups__item-info__descr">Это комплекс упражнений на растяжку выполнение балетных па и занятия у хореографического станка.
                        Включает в себя элементы йоги и пилатеса. Упражнения
                        подобраны так, чтобы обеспечить максимальную
                        нагрузку на все группы мышц, не нанося при этом вреда суставам.
                    </div>

                    <div class="groups-toggler">
                        <div class="groups-toggler__item">
                            <span class="groups-toggler__name">Взлётная</span>
                            <span>и</span>
                            <span class="groups-toggler__name">Плаза</span>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#" class="groups__item">
                <div class="groups__layer groups__layer_grey" style="background-image: url('/images/groups/dances/dances-bg-1.jpg')"></div>

                <div class="groups__item-wrapper">
                    <div class="groups__title">LATINA</div>

                    <div class="groups-toggler">
                        <div class="groups-toggler__item">
                            <span class="groups-toggler__name">Взлётная</span>
                            <span>и</span>
                            <span class="groups-toggler__name">Плаза</span>
                        </div>
                    </div>
                </div>

                <div class="groups__item-info groups__item-info_grey">
                    <div class="groups__title">STRIP DANCE</div>

                    <div class="groups__item-info__descr">Это комплекс упражнений на растяжку выполнение балетных па и занятия у хореографического станка.
                        Включает в себя элементы йоги и пилатеса. Упражнения
                        подобраны так, чтобы обеспечить максимальную
                        нагрузку на все группы мышц, не нанося при этом вреда суставам.
                    </div>

                    <div class="groups-toggler">
                        <div class="groups-toggler__item">
                            <span class="groups-toggler__name">Взлётная</span>
                            <span>и</span>
                            <span class="groups-toggler__name">Плаза</span>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#" class="groups__item">
                <div class="groups__layer groups__layer_pink" style="background-image: url('/images/groups/dances/dances-bg-2.jpg')"></div>

                <div class="groups__item-wrapper">
                    <div class="groups__title">POLE DANCE</div>

                    <div class="groups-toggler">
                        <div class="groups-toggler__item">
                            <span class="groups-toggler__name">Взлётная</span>
                            <span>и</span>
                            <span class="groups-toggler__name">Плаза</span>
                        </div>
                    </div>
                </div>

                <div class="groups__item-info groups__item-info_pink">
                    <div class="groups__title">STRIP DANCE</div>

                    <div class="groups__item-info__descr">Это комплекс упражнений на растяжку выполнение балетных па и занятия у хореографического станка.
                        Включает в себя элементы йоги и пилатеса. Упражнения
                        подобраны так, чтобы обеспечить максимальную
                        нагрузку на все группы мышц, не нанося при этом вреда суставам.
                    </div>

                    <div class="groups-toggler">
                        <div class="groups-toggler__item">
                            <span class="groups-toggler__name">Взлётная</span>
                            <span>и</span>
                            <span class="groups-toggler__name">Плаза</span>
                        </div>
                    </div>
                </div>
            </a>

            <div class="groups__item groups__item_empty">
                <div class="groups__layer groups__layer_black"></div>

                <div class="groups__item-info groups__item-info_black">
                    <div class="groups__title">STRIP DANCE</div>

                    <div class="groups__item-info__descr">Это комплекс упражнений на растяжку выполнение балетных па и занятия у хореографического станка.
                        Включает в себя элементы йоги и пилатеса. Упражнения
                        подобраны так, чтобы обеспечить максимальную
                        нагрузку на все группы мышц, не нанося при этом вреда суставам.
                    </div>

                    <div class="groups-toggler">
                        <div class="groups-toggler__item">
                            <span class="groups-toggler__name">Взлётная</span>
                            <span>и</span>
                            <span class="groups-toggler__name">Плаза</span>
                        </div>
                    </div>
                </div>
            </div>

            <a href="#" class="groups__item groups__item_big">
                <div class="groups__layer groups__layer_blue" style="background-image: url('/images/groups/dances/dances-bg-3.jpg')"></div>

                <div class="groups__item-wrapper">
                    <div class="groups__title">ZUMBA</div>

                    <div class="groups-toggler">
                        <div class="groups-toggler__item">
                            <span class="groups-toggler__name">Взлётная</span>
                        </div>
                    </div>
                </div>

                <div class="groups__item-info groups__item-info_blue">
                    <div class="groups__title">STRIP DANCE</div>

                    <div class="groups__item-info__descr">Это комплекс упражнений на растяжку выполнение балетных па и занятия у хореографического станка.
                        Включает в себя элементы йоги и пилатеса. Упражнения
                        подобраны так, чтобы обеспечить максимальную
                        нагрузку на все группы мышц, не нанося при этом вреда суставам.
                    </div>

                    <div class="groups-toggler">
                        <div class="groups-toggler__item">
                            <span class="groups-toggler__name">Взлётная</span>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#" class="groups__item groups__item_big">
                <div class="groups__layer groups__layer_green_dark" style="background-image: url('/images/groups/dances/dances-bg-4.jpg')"></div>

                <div class="groups__item-wrapper">
                    <div class="groups__title">GO-GO DANCE</div>

                    <div class="groups-toggler">
                        <div class="groups-toggler__item">
                            <span class="groups-toggler__name">Взлётная</span>
                        </div>
                    </div>
                </div>

                <div class="groups__item-info groups__item-info_green_dark">
                    <div class="groups__title">STRIP DANCE</div>

                    <div class="groups__item-info__descr">Это комплекс упражнений на растяжку выполнение балетных па и занятия у хореографического станка.
                        Включает в себя элементы йоги и пилатеса. Упражнения
                        подобраны так, чтобы обеспечить максимальную
                        нагрузку на все группы мышц, не нанося при этом вреда суставам.
                    </div>

                    <div class="groups-toggler">
                        <div class="groups-toggler__item">
                            <span class="groups-toggler__name">Взлётная</span>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#" class="groups__item">
                <div class="groups__layer groups__layer_lilac" style="background-image: url('/images/groups/dances/dances-bg-5.jpg')"></div>

                <div class="groups__item-wrapper">
                    <div class="groups__title">VOGUE</div>

                    <div class="groups-toggler">
                        <div class="groups-toggler__item">
                            <span class="groups-toggler__name">Взлётная</span>
                            <span>и</span>
                            <span class="groups-toggler__name">Плаза</span>
                        </div>
                    </div>
                </div>

                <div class="groups__item-info groups__item-info_lilac">
                    <div class="groups__title">STRIP DANCE</div>

                    <div class="groups__item-info__descr">Это комплекс упражнений на растяжку выполнение балетных па и занятия у хореографического станка.
                        Включает в себя элементы йоги и пилатеса. Упражнения
                        подобраны так, чтобы обеспечить максимальную
                        нагрузку на все группы мышц, не нанося при этом вреда суставам.
                    </div>

                    <div class="groups-toggler">
                        <div class="groups-toggler__item">
                            <span class="groups-toggler__name">Взлётная</span>
                            <span>и</span>
                            <span class="groups-toggler__name">Плаза</span>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#" class="groups__item">
                <div class="groups__layer groups__layer_grey" style="background-image: url('/images/groups/dances/dances-bg-6.jpg')"></div>

                <div class="groups__item-wrapper">
                    <div class="groups__title">CONTEMPORARY</div>

                    <div class="groups-toggler">
                        <div class="groups-toggler__item">
                            <span class="groups-toggler__name">Плаза</span>
                        </div>
                    </div>
                </div>

                <div class="groups__item-info groups__item-info_grey">
                    <div class="groups__title">STRIP DANCE</div>

                    <div class="groups__item-info__descr">Это комплекс упражнений на растяжку выполнение балетных па и занятия у хореографического станка.
                        Включает в себя элементы йоги и пилатеса. Упражнения
                        подобраны так, чтобы обеспечить максимальную
                        нагрузку на все группы мышц, не нанося при этом вреда суставам.
                    </div>

                    <div class="groups-toggler">
                        <div class="groups-toggler__item">
                            <span class="groups-toggler__name">Плаза</span>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#" class="groups__item">
                <div class="groups__layer groups__layer_pink" style="background-image: url('/images/groups/dances/dances-bg-7.jpg')"></div>

                <div class="groups__item-wrapper">
                    <div class="groups__title">BELLY DANCE</div>

                    <div class="groups-toggler">
                        <div class="groups-toggler__item">
                            <span class="groups-toggler__name">Взлётная</span>
                            <span>и</span>
                            <span class="groups-toggler__name">Плаза</span>
                        </div>
                    </div>
                </div>

                <div class="groups__item-info groups__item-info_pink">
                    <div class="groups__title">STRIP DANCE</div>

                    <div class="groups__item-info__descr">Это комплекс упражнений на растяжку выполнение балетных па и занятия у хореографического станка.
                        Включает в себя элементы йоги и пилатеса. Упражнения
                        подобраны так, чтобы обеспечить максимальную
                        нагрузку на все группы мышц, не нанося при этом вреда суставам.
                    </div>

                    <div class="groups-toggler">
                        <div class="groups-toggler__item">
                            <span class="groups-toggler__name">Взлётная</span>
                            <span>и</span>
                            <span class="groups-toggler__name">Плаза</span>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#" class="groups__item">
                <div class="groups__layer groups__layer_yellow" style="background-image: url('/images/groups/dances/dances-bg-8.jpg')"></div>

                <div class="groups__item-wrapper">
                    <div class="groups__title">DANCEHALL</div>

                    <div class="groups-toggler">
                        <div class="groups-toggler__item">
                            <span class="groups-toggler__name">Взлётная</span>
                            <span>и</span>
                            <span class="groups-toggler__name">Плаза</span>
                        </div>
                    </div>
                </div>

                <div class="groups__item-info groups__item-info_yellow">
                    <div class="groups__title">STRIP DANCE</div>

                    <div class="groups__item-info__descr">Это комплекс упражнений на растяжку выполнение балетных па и занятия у хореографического станка.
                        Включает в себя элементы йоги и пилатеса. Упражнения
                        подобраны так, чтобы обеспечить максимальную
                        нагрузку на все группы мышц, не нанося при этом вреда суставам.
                    </div>

                    <div class="groups-toggler">
                        <div class="groups-toggler__item">
                            <span class="groups-toggler__name">Взлётная</span>
                            <span>и</span>
                            <span class="groups-toggler__name">Плаза</span>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#" class="groups__item">
                <div class="groups__layer groups__layer_brown" style="background-image: url('/images/groups/dances/dances-bg-9.jpg')"></div>

                <div class="groups__item-wrapper">
                    <div class="groups__title">JAZZ FUNK</div>

                    <div class="groups-toggler">
                        <div class="groups-toggler__item">
                            <span class="groups-toggler__name">Взлётная</span>
                            <span>и</span>
                            <span class="groups-toggler__name">Плаза</span>
                        </div>
                    </div>
                </div>

                <div class="groups__item-info groups__item-info_brown">
                    <div class="groups__title">STRIP DANCE</div>

                    <div class="groups__item-info__descr">Это комплекс упражнений на растяжку выполнение балетных па и занятия у хореографического станка.
                        Включает в себя элементы йоги и пилатеса. Упражнения
                        подобраны так, чтобы обеспечить максимальную
                        нагрузку на все группы мышц, не нанося при этом вреда суставам.
                    </div>

                    <div class="groups-toggler">
                        <div class="groups-toggler__item">
                            <span class="groups-toggler__name">Взлётная</span>
                            <span>и</span>
                            <span class="groups-toggler__name">Плаза</span>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#" class="groups__item">
                <div class="groups__layer groups__layer_green" style="background-image: url('/images/groups/dances/dances-bg-10.jpg')"></div>

                <div class="groups__item-wrapper">
                    <div class="groups__title">BODY JAM</div>

                    <div class="groups-toggler">
                        <div class="groups-toggler__item">
                            <span class="groups-toggler__name">Плаза</span>
                        </div>
                    </div>
                </div>

                <div class="groups__item-info groups__item-info_green">
                    <div class="groups__title">STRIP DANCE</div>

                    <div class="groups__item-info__descr">Это комплекс упражнений на растяжку выполнение балетных па и занятия у хореографического станка.
                        Включает в себя элементы йоги и пилатеса. Упражнения
                        подобраны так, чтобы обеспечить максимальную
                        нагрузку на все группы мышц, не нанося при этом вреда суставам.
                    </div>

                    <div class="groups-toggler">
                        <div class="groups-toggler__item">
                            <span class="groups-toggler__name">Плаза</span>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#" class="groups__item">
                <div class="groups__layer groups__layer_red" style="background-image: url('/images/groups/dances/dances-bg-11.jpg')"></div>

                <div class="groups__item-wrapper">
                    <div class="groups__title">TWERK</div>

                    <div class="groups-toggler">
                        <div class="groups-toggler__item">
                            <span class="groups-toggler__name">Взлётная</span>
                            <span>и</span>
                            <span class="groups-toggler__name">Плаза</span>
                        </div>
                    </div>
                </div>

                <div class="groups__item-info groups__item-info_red">
                    <div class="groups__title">STRIP DANCE</div>

                    <div class="groups__item-info__descr">Это комплекс упражнений на растяжку выполнение балетных па и занятия у хореографического станка.
                        Включает в себя элементы йоги и пилатеса. Упражнения
                        подобраны так, чтобы обеспечить максимальную
                        нагрузку на все группы мышц, не нанося при этом вреда суставам.
                    </div>

                    <div class="groups-toggler">
                        <div class="groups-toggler__item">
                            <span class="groups-toggler__name">Взлётная</span>
                            <span>и</span>
                            <span class="groups-toggler__name">Плаза</span>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#" class="groups__item">
                <div class="groups__layer groups__layer_blue_light" style="background-image: url('/images/groups/dances/dances-bg-12.jpg')"></div>

                <div class="groups__item-wrapper">
                    <div class="groups__title">BALLROOM STUDIO</div>

                    <div class="groups-toggler">
                        <div class="groups-toggler__item">
                            <span class="groups-toggler__name">Взлётная</span>
                            <span>и</span>
                            <span class="groups-toggler__name">Плаза</span>
                        </div>
                    </div>
                </div>

                <div class="groups__item-info groups__item-info_blue_light">
                    <div class="groups__title">STRIP DANCE</div>

                    <div class="groups__item-info__descr">Это комплекс упражнений на растяжку выполнение балетных па и занятия у хореографического станка.
                        Включает в себя элементы йоги и пилатеса. Упражнения
                        подобраны так, чтобы обеспечить максимальную
                        нагрузку на все группы мышц, не нанося при этом вреда суставам.
                    </div>

                    <div class="groups-toggler">
                        <div class="groups-toggler__item">
                            <span class="groups-toggler__name">Взлётная</span>
                            <span>и</span>
                            <span class="groups-toggler__name">Плаза</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>