<div class="header block {{ mod }}">
    <div class="header__wrapper block__wrapper">

        <div class="header__top block">
            <div class="header__top-content block__wrapper">

                <div class="header__nav">
                    <a href="/" class="header__logo header__logo_small"></a>

                    <a href="#" class="header__nav-item header__nav-item_active">
                        <div class="header__nav-text">спорт</div>
                    </a>
                    <a href="#" class="header__nav-item">
                        <div class="header__nav-text">spa</div>
                    </a>
                    <a href="#" class="header__nav-item">
                        <div class="header__nav-text">дети</div>
                    </a>

                </div>

                <div class="header__actions">
                    <a href="#" class="header__mail">
                        <div class="header__icon"></div>
                        <span>Напишите нам</span>
                    </a>
                    <a href="#" class="header__dashboard">
                        <div class="header__icon"></div>
                        <span>Личный кабинет</span>
                    </a>

                    <div class="header__burger header__burger_open">
                        <div class="header__burger-wrapper">
                            <span></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="header__middle">
            <a href="/" class="header__logo"></a>

            <div class="header__contacts">
                <div class="header__contacts-phone">
                    <a href="tel:+7 (3852) 535-525" >+7 (3852) <span>535-525</span></a>
                    <div class="header__contacts-text">Взлетная</div>
                </div>
                <div class="header__contacts-phone">
                    <a href="tel:+7 (3852) 538-333">+7 (3852) <span>538-333</span></a>
                    <div class="header__contacts-text header__contacts-text_right">Плаза</div>
                </div>
            </div>

            <div class="header__action">
                <button type="button" class="button button_round {{ mod == 'header_white' ? 'button_gray' : ''}}">Гостевой визит</button>
            </div>
        </div>

        <div class="header__bottom header__bottom_open">
            <div class="header__menu">
                <div class="header__menu-item"><a href="#">Клубные карты</a></div>
                <div class="header__menu-item"><a href="#">Услуги</a></div>
                <div class="header__menu-item"><a href="#">Клубы</a></div>
                <div class="header__menu-item"><a href="#">События</a></div>
                <div class="header__menu-item header__menu-item_pink"><a href="#">Расписание</a></div>
            </div>
        </div>

    </div>
</div>

