.article {
   &__title{
      margin-bottom 35px
   }

   &-br {
      width 100%
      &.mod-small {
         margin-bottom 1.5em
      }
      &.mod-medium {
         margin-bottom 3em
      }
      &.mod-big {
         margin-bottom 5em
      }
   }
   &-widgets {
      display flex
      flex-wrap wrap
      align-items flex-start
      margin-right -15px
      margin-left @margin-right
      & > & {
         margin-right 0
         margin-left @margin-right
      }
   }
   &-widget {
      box-sizing border-box
      flex 1
      margin-right 15px
      margin-left @margin-right

      &-video {
         position relative
         padding-bottom ((720*100)/1280)%
         iframe {
            position absolute
            top 0
            left 0
            width 100%
            height 100%
         }
      }

      &.size-1 {
         flex-basis 33.333%
         max-width calc(33.333% - 30px)
         +do(900) {
            flex-basis 66.666%
            max-width calc(66.666% - 30px)
         }
         +do(600) {
            flex-basis 90%
            max-width none
         }
         & & {
            flex-basis 90%
            max-width none
         }
         ^[-1].size-2 & {
           flex-basis 50%
           max-width calc(50% - 30px)
           +do(900) {
              flex-basis 66.666%
              max-width calc(66.666% - 30px)
           }
           +do(600) {
              flex-basis 90%
              max-width none
           }
        }
      }
      &.size-2 {
         flex-basis 66.666%
         max-width calc(66.666% - 30px)
         +do(900) {
            flex-basis 90%
            max-width none
         }
         & & {
            flex-basis 90%
            max-width none
         }
      }
      &.size-3 {
         flex-basis 90%
         max-width none
      }


      &_image {
         margin-bottom 30px
      }

      &_list{
         margin-bottom 8px

         &:last-child{
            margin-bottom 0
         }
      }

      &_text{
         span{
            font-weight 700
         }
      }

      &_info{
         margin-bottom 65px
      }

      &_quote{
         margin-bottom 60px
         &.size-1 {
            +do(900){
               flex-basis 90%
               max-width none
            }
         }
      }

      &_highlight{
         font-weight 300
         margin-bottom 50px
         border 4px solid #f0ecfc

         &.size-1 {
            +do(900){
               flex-basis 90%
               max-width none
            }
         }

         p{
            margin-bottom 0
         }
      }

      &_video{
         margin-bottom 75px
      }
   }
}


.article-news{
   display flex
   flex-wrap wrap

   &-item{
      flex 1 1 33.333%
      max-width 33.333%
      padding 30px 30px 10px
      border 1px solid #e8f0f1
      box-sizing border-box
      margin-right -1px
      margin-bottom -1px

      +do(800){
         flex-basis 50%
         max-width 50%
      }

      +do(500){
         flex-basis 100%
         max-width 100%
      }

      &__img{
         margin-bottom 25px

         img{
            width 100%
            height auto
            vertical-align middle
         }
      }

      &__title{
         display inline-block
         font-size 20px
         font-weight 600
         margin-bottom 12px
      }

      &__link{
         border-color transparent

         &:hover{
            border-color $color-lpink
         }
      }
   }

   .article-widget.size-2 & {
      &-item{
         flex-basis 50%
         max-width 50%

         +do(600){
            flex-basis 100%
            max-width 100%
         }
      }
   }

   .article-widget.size-1 & {
      &-item{
         flex-basis 100%
         max-width 100%
      }
   }
}


.article-quote {
   display flex
   align-items flex-start
   position relative
   +do(500) {
      flex-direction column
   }

   &__person {
      flex 1
      position relative
      max-width 125px
      width 125px
      margin-right 40px
      +do(800){
         margin-right 30px
      }
      +do(600) {
         margin-bottom 28px
         flex 0 1 auto
      }
      i {
         z-index 10
         position absolute
         top -10px
         right -10px
         size 30px
         background #805fe9
         font-style normal
         transform skew(-10deg)
         &:before {
            content ''
            position absolute
            top 50%
            left 50%
            margin-top -1px
            svg('quote',18px, #fff)
            transform translate(-50%,-50%) skew(10deg)
         }
      }
   }
   &__photo {
      overflow hidden
      position relative
      transform skew(-10deg)

      &-img{
         height 96px
         background center 0 / auto 100% no-repeat
         transform skew(10deg)
      }
   }
   &__name {
      font-weight 700

      +do(500){
         position absolute
         top -.25em
         right 0
         left 150px
         line-height 1.3
      }
   }
   &__descr {
      display block
      color #acb7b8
      font-size 16px
      font-weight 400

      +do(500){
         font-size 13px
         margin-top .25em
      }
   }

   &__text {
      flex 1
      width 100%
      max-width 700px
      font-weight 600

      +do(500){
         flex 0 1 auto
      }
   }

   .article-widget.size-2 & {}

   .article-widget.size-1 & {
      flex-direction column

      +do(500 900){
         flex-direction row
      }

      &__person{
         flex 0 0 auto
         margin-bottom 28px
      }

      &__text{
         flex 0 1 auto
      }
   }
}


.article-highlight{
   display flex
   flex-wrap wrap
   align-items flex-start
   position relative
   padding (28/24)em (30/24)em (30/24)em
   font-size 24px
   &_icon{
      padding-left (100/24)em

      +do(500){
         padding-left (30/24)em
         padding-top (75/24)em
      }
   }

   &_icon_weight{
      &:before{
         content ''
         position absolute
         top 34px
         left 43px
         svg('highlight', 21px, #805fe9)

         +do(500){
            top 25px
            left 30px
         }
      }
   }

   +do(500){
      font-size 20px
   }

   &-icon{
      flex 0 0 auto
      margin-right 34px

      &__item{
         svg('highlight',21px,#805fe9)
      }
   }

   &__text{
      flex 1
   }

   .article-widget.size-1 & {
      &_icon{
         padding-left (30/24)em
         padding-top (75/24)em

         +do(500 900){
            padding-top (28/24)em
            padding-left (100/24)em
         }
      }

      &_icon_weight{
         &:before{
            content ''
            position absolute
            top 30px
            left 30px
            svg('highlight', 21px, #805fe9)

            +do(500 900){
               top 34px
               left 43px
            }

            +do(500){
               top 25px
            }
         }
      }
   }
}


.article-video{
   display block
   position relative
   padding-bottom ((9*100)/16)%

   &:hover{
      .article-video__preview{
         .article-video__play{
            border-arrow 70px 88px #fff right

            +do(1030){
               border-arrow 40px 48px #fff right
            }
         }
      }
   }

   &__preview{
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      background-position center  center
      background-repeat no-repeat
      background-size cover
      cursor pointer

      &:before{
         content ''
         position absolute
         top 0
         left 0
         right 0
         bottom 0
         background rgba(#805fe9, .54)
         background-size cover
         z-index 10
      }
   }

   &__play {
      position absolute
      top 50%
      left 50%
      border-arrow 60px 78px #fff right
      transform translate(-50%, -50%)
      transition .3s
      z-index 15
      cursor pointer

      +do(600){
         border-arrow 40px 48px #fff right
      }
   }

   .article-widget.size-2 & {
      .article-video__play{
         border-arrow 37px 45px #fff right

         +do(600){
            border-arrow 40px 48px #fff right
         }
      }

      &:hover{
         .article-video__play{
            border-arrow 47px 55px #fff right

            +do(1030){
               border-arrow 37px 45px #fff right
            }

            +do(600){
               border-arrow 40px 48px #fff right
            }
         }
      }
   }

   .article-widget.size-1 & {
      .article-video__play{
         border-arrow 27px 35px #fff right

         +do(600){
            border-arrow 40px 48px #fff right
         }
      }

      &:hover{
         .article-video__play{
            border-arrow 37px 45px #fff right

            +do(1030){
               border-arrow 27px 35px #fff right
            }

            +do(600){
               border-arrow 40px 48px #fff right
            }
         }
      }
   }
}

.article-img{
   &__photo{
      width 100%
      height auto
      border 0
   }

   &__text{
      display none
      justify-content flex-end
      font-size 13px
      font-weight 600
      color #acb7b8
      margin-top 2px

      +do(400){
         font-size 12px
      }
   }

   &_text{
      .article-img__text{
         display flex
      }
   }

   .article-widget.size-1 & {
      .article-img__text{
         font-size 12px

         +do(600){
            font-size 13px
         }

         +do(400){
            font-size 12px
         }
      }
   }
}


.article-gallery{
   display flex
   flex-wrap wrap

   &__item{
      position relative
      flex 1 1 33.333%
      max-width 33.333%
      min-height 310px
      //margin-right 2px
      margin-bottom 2px
      overflow hidden

      &:last-child{
         margin-right 0
      }
   }
}