.billboard {
  background $color-lyellow

  &__content {
    padding 55px 175px 66px 0
    h1 {
      margin-bottom 25px
    }

    +do(965) {
      padding 55px 10px 66px
    }
  }

  &__text {
    font-size 16px
    font-weight 400
    line-height 1.5
    margin-bottom 60px

    +do(800) {
      margin-bottom 30px
    }
  }

  &__offer {
    font-size 24px
    font-weight 300

    +do(811) {
      font-size 20px
      line-height 1.8
    }

    +do(695) {
      padding 0 45px
      text-align center
    }

    +do(529) {
      padding 0 25px
    }

    +do(489) {
      font-size 18px
    }

    +do(452) {
      padding 0 50px
    }

    +do(375) {
      padding 0 30px
    }
  }

  &__link {
    position relative
    font-weight 700
    color $color-dpink
    margin-left 60px
    border-bottom 1px solid $color-lpink
    transition .3s

    +do(695) {
      margin-left 53px
    }

    &:hover {
      border-color transparent
    }

    &:before {
      content ''
      position absolute
      top -15%
      left -25%
      right -10%
      bottom -10%
    }

    &:after {
      content ''
      position absolute
      top -10px
      left -50px
      spritus('main:cards')
    }
  }
}
