.cards-filter {
  background-color $color-header
  border-top 1px solid transparent
  padding 0 15px
  &__wrapper {
    max-width 875px
    margin 35px auto 0 auto
    display flex
    justify-content space-between
    flex-wrap wrap
  }
  &__footer {
    display flex
    justify-content center
    position relative
    flex-direction: column;
    align-items: center;
    &-button {
      svg('arrow', 20px)
      border none
      position: relative;
      z-index: 2;
      top: -10px;
    }
    &-triangle {
      position relative
      width 50px
      height 50px
      top -35px
      border-arrow 60px 30px white top
    }
  }
  &__col {
    &_left {
      max-width 576px
      +do(900) {
        max-width 400px
      }
      +do(755) {
        max-width 300px
      }
      +do(660) {
        max-width 250px
      }
    }
    &_right {
      max-width 299px
      +do(660) {
        max-width 200px
      }
    }
  }

  &__option {
    margin-bottom 30px
    &-title {
      font-size 16px
      font-weight bold
      margin-bottom 10px
    }
    &-wrapper {
      display flex
      justify-content flex-start
      flex-wrap wrap
      &_button {
        justify-content space-between
      }
    }
    &-select {
      display none
    }
    &-button {
      background-color transparent
      border none
      padding 0
      cursor pointer
      &_discount {
        color $color-orange
      }
      &_reset {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color $color-pink
        &:before {
          content ''
          display block
          position relative
          svg('close', 12px)
          margin-right 5px
        }
      }
    }
    &-item {
      padding 7px 15px
      background-color white
      border-radius 5px
      font-weight bold
      font-size 14px
      margin-right 10px
      margin-bottom 10px
      cursor pointer
    }
    &-select:checked ~ &-item {
      background-color $color-purple
      color white
    }
  }

}