.class{}

.class-descr{
   margin-bottom 40px

   &__content{
      display flex
      flex-wrap wrap
      align-items flex-start
   }

   &__col{
      flex 1 1 50%
      max-width 50%

      &_right{
         display flex
         justify-content flex-end

         +do(840){
            margin-top 40px
            justify-content center
         }
      }

      +do(840){
         flex 1 1 100%
         max-width 100%
      }
   }
}


.class-need{
   display flex
   position relative
   flex-wrap wrap
   flex-direction column
   justify-content space-around
   margin-left 85px
   padding 23px 0
   border 1px solid #e8e8e8
   border-left 1px solid #100322

   +do(500){
      padding 10px 0
   }

   &:before{
      content ''
      position absolute
      top 0
      left 33.333%
      height 100%
      border-right 1px dashed #e8e8e8
      z-index 2
   }

   &:after{
      content ''
      position absolute
      top 0
      right 33.333%
      height 100%
      border-right 1px dashed #e8e8e8
      z-index 2
   }

   &__item{
      position relative
      height 35px
      margin-bottom 25px
      z-index 3
      text-align right

      +do(500){
         margin-bottom 10px
      }

      &:last-child{
         margin-bottom 0
      }

      &_violet{
         width 33.333%
         background linear-gradient( 90deg , #9059f7 20%, #deb8ff 135%)
      }

      &_red{
         width 100%
         background linear-gradient( 90deg , #e73e6c 20%, #ffe034 135%)
      }

      &_yellow{
         width 66.666%
         background linear-gradient( 90deg , #f1aa00 20%, #ffe221 135%)
      }

      &_green{
         width 66.666%
         background linear-gradient( 90deg , #9bc725 20%, #ecf416 135%)
      }
   }

   &__text{
      position absolute
      top 50%
      right 100%
      width 90px
      margin-right 10px
      font-size 14px
      font-weight 700
      line-height 1.3
      text-align right
      transform translate(0%,-50%)
   }
}


.class-enrol{
   max-width 353px
   padding 40px 30px 40px 45px
   border 5px solid #fff9ce
   box-sizing border-box

   +do(840){
      max-width none
   }

   +do(500){
      padding 20px 15px
   }

   &__title{
      font-size 20px
      font-weight 700
      margin-bottom 20px

      +do(500){
         font-size 18px
         margin-bottom 10px
      }
   }

   &__text{
      margin-bottom 30px

      +do(500){
         font-size 14px
         margin-bottom 15px
      }
   }

   &__link{
      font-weight 700
   }
}


.class-gallery{
   display flex
   flex-wrap wrap
   margin-bottom 40px

   &__item{
      position relative
      flex 1 1 50%
      max-width 50%
      min-height 420px
      background-repeat no-repeat
      background-position center center
      background-size cover

      &_big{
         flex 1 1 100%
         max-width 100%
         min-height 700px
      }

      //&:before {
      //   content ''
      //   display block
      //   padding-bottom ((425*100)/700)%
      //}

      +do(840){
         flex 1 1 100%
         max-width 100%
         min-height 300px
      }


      &:hover{
         .class-gallery__overlay{
            visibility visible
            opacity .9
         }
      }
   }

   &__overlay{
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      background radial-gradient(150px circle at center, #ff4a7b -250%, #100322 100%)
      cursor pointer
      visibility hidden
      opacity 0
      transition visibility .3s, opacity 0.3s linear

      &:after{
         content ''
         position absolute
         top 50%
         left 50%
         spritus('main:zoom')
         transform translate(-50%,-50%)
      }
   }
}


.is-mobile{
   .class-gallery{
      &__item{
         &:hover{
            .class-gallery__overlay{
               visibility hidden
               opacity 0
            }
         }
      }
   }
}