.clubs {
   &__wrapper {}
   &__list {
      display flex
      flex-wrap wrap
      margin 0 -40px 40px
      +do(700) {
         justify-content center
      }
      &-item {
         flex 1 1 calc(50% - 80px)
         max-width 400px
         margin 0 40px 40px
         +do(700) {
            flex-basis 100%
         }
      }
   }
   &__title {
      +do(700) {
         text-align center
      }
   }
}
.clubs-item {
   &__photo {
      position relative
      max-width 400px
      margin-bottom 2.75em
      &-link {
         border 0
         color inherit
         text-decoration none
         &:hover {
            color inherit
         }
      }
      &-image {
         overflow hidden
         transform skew(-10deg)
         margin-right round((-8*270px)/100)
         margin-left @margin-right
         +do(450) {
            transform none
         }
         &-img {
            transform skew(10deg)
            height 270px
            margin-right -6%
            margin-left -6%
            background center 0 / auto 100% no-repeat
            +do(450) {
               transform none
            }
         }
      }
      &-title {
         box-sizing border-box
         position absolute
         bottom -1.15em
         left -1.25em
         min-width 200px
         margin 0
         padding .75em 1.25em
         padding-right 2em
         color #fff
         font-weight 600
         font-size 20px
         line-height 1.5
         +do(700 900) {
            left 0
         }
         &:before {
            content ''
            transition all .3s ease-out
            opacity .9
            transform skewX(-10deg)
            position absolute
            trbl 0
            background $color-lilac
         }
         &:after {
            content ''
            position absolute
            svg('arrow-right', 8px, #fff, none center)
            right 1em
         }
         &-text {
            z-index 10
            position relative
         }
      }

      &-link:hover & {
         &-title {
            &:before {
               opacity 1
               box-shadow 0 2px 3px rgba(#000, .15)
            }
         }
      }
   }

   &__info {
      &-main {
         display flex
         flex-wrap wrap
         margin-right -2em
         margin-bottom .5em
         &-left {
            margin-right 2em
            margin-bottom 1em
            +do(700 900) {
               flex-basis 100%
            }
            +do(400) {
               flex-basis 100%
            }
         }
         &-right {
            margin-right 2em
            margin-bottom 1em
            +do(700 900) {
               flex-basis 100%
            }
            +do(400) {
               flex-basis 100%
            }
         }
      }
      &-descr {}
   }

   &__metrics {
      &-data {
         margin-top -.1em
         margin-left -.05em
         font-weight 700
         font-size 44px
         line-height 1.2
         +do(700){
            font-size 36px
         }
      }
      &-title {
         font-weight 600
         +do(700) {
            font-size 14px
         }
      }
   }

   &__contacts {
      font-weight 600
      font-size 15px
      +do(700 900) {
         font-size 13px
      }
      +do(400) {
         font-size 13px
      }
      &-item {
         margin-bottom .15em
      }
      &-map {
         position relative
         padding-right 22px
         u {
            border-color transparent
         }
         &:after {
            content ''
            position absolute
            right 0
            spritus('main:location-small', none center)
         }
         &:hover {
            u {
               border-color $color-lpink
            }
         }
      }
   }

   &__descr {
      display flex
      flex-wrap wrap
      margin 0 -1em
      font-size 15px
      &-item {
         flex 1 1 100%
         margin 0 1em 1em
      }
      &-title {
         margin-bottom .4em
         font-weight 700
         font-size 20px
      }
      &-text {
         color $color-mgray
         p:last-child {
            margin-bottom 0
         }
      }
   }

   &_vzlet {}
   &_vzlet & {
      &__photo {
         &-image {
            +do(700 900) {
               margin-left round((-16*270px)/100)
            }
         }
      }
   }

   &_plaza {}
   &_plaza & {
      &__photo {
         &-image {
            +do(700 900) {
               margin-right round((-16*270px)/100)
            }
         }
      }
   }
}
