.club-card {
  flex 0 0 100%
  max-width 450px
  margin-bottom 30px
  color white
  width 465px
  +do(950) {
    flex-basis auto
    width 420px
  }
  +do(900) {
    width 400px
  }
  +do(850) {
    width 380px
  }
  +do(800) {
    width 360px
  }
  +do(760) {
    width 100%
    flex-basis 100%
    max-width 100%
    margin-left auto
    margin-right auto
  }
  &_purple {
    background-color $color-lpurple
  }
  &_green {
    background-color $color-lgreen
  }
  &_blue {
    background-color $color-blue
  }
  &__title {
    display flex
    justify-content flex-start
    align-items center
    padding 50px 40px 0 40px
    +do(1050) {
      padding 20px 20px 0 20px
    }
    +do(800) {
      padding 10px 10px 0 10px
    }
    +do(760) {
      justify-content center
    }
    &-text {
      font-size 40px
      font-weight bold
      +do(850) {
        font-size 30px
      }
    }
    &-icon {
      margin-left 15px
      &_sale {
        svg('sale', 30px)
      }
      &_vzletnaja {
        svg('vzletnaja', 26px)
      }
      &_plaza {
        svg('plaza', 26px)
      }
    }
  }
  &__type {
    &-wrapper {
      display flex
      flex-wrap wrap
      margin 15px 40px 25px 40px
      justify-content space-between
      +do(1050) {
        margin-right 20px
        margin-left 20px
      }
      +do(850) {
        justify-content space-around
        margin 10px 10px
      }
    }
    &-col {
      flex 0 0 50%
      display flex
      justify-content flex-start
      align-items center
      +do(850) {
        flex-basis auto
      }
    }
    &-info {
      flex 0 0 auto
      font-weight bold
      transform skew(-15deg)
      padding 10px 25px
      +do(850) {
        transform skew(0deg)
      }
      &_purple {
        background-color $color-dpurple
      }
      &_green {
        background-color $color-dgreen
      }
      &_blue {
        background-color $color-darkblue
      }
    }
    &-text {
      transform skew(15deg)
      +do(850) {
        transform skew(0deg)
      }
    }

  }
  &__date {
    &-wrapper {
      flex 0 0 auto
    }
    &-item {
      opacity 0.8
      +do(850) {
        font-size 14px
      }
      &_bold {
        font-weight bold
      }
    }
  }
  &__conditions {
    &-wrapper {
      display flex
    }
    &-item {
      display flex

    }
    &-number {
      font-size 36px
      font-weight 500
      margin-right 10px
    }
    &-text {
      font-weight bold
      max-width 90px
      line-height 1
      margin-top 10px
      &_month {
        margin-top 25px
      }
    }
    &-col {
      flex 0 0 50%
      display flex
      justify-content center
      align-items center
      border-bottom 1px solid rgba(white, 0.25)
      border-top 1px solid rgba(white, 0.25)
      padding 40px 0 30px 0
      &_right {
        border-left 1px solid rgba(white, 0.25)
      }
    }
  }
  &__options {
    &-wrapper {
      display flex
      margin 40px 40px 0 40px
      flex-wrap wrap
      justify-content space-between
    }
    &-description {
      margin 30px 40px 0 40px
      line-height (20 / 16)
    }
    &-item {
      display flex
      flex 0 0 50%
      align-items center
      margin-bottom 35px
      justify-content flex-start
    }
    &-text {
      font-weight bold
      font-size 14px
      max-width 145px
      line-height (16 / 14)
    }
    &-icon {
      margin-right 10px
      &_instruction {
        svg('instruction', 16px, white)
      }
      &_medicine {
        svg('medicine', 16px, white)
      }
      &_diagnostics {
        svg('diagnostics', 16px, white)
      }
      &_pool {
        svg('pool', 16px, white)
      }
      &_gym {
        svg('gym', 16px, white)
      }
      &_group {
        svg('group', 16px, white)
      }
      &_sauna {
        svg('sauna', 16px, white)
      }
      &_game {
        svg('game', 16px, white)
      }
    }
  }
  &__footer {
    margin 50px 40px 40px 40px
    display flex
    &-button {
      flex 0 0 100%
      border none
      height 65px
      background-color $color-yellow
      font-size 20px
      cursor pointer
      &:hover {
        transition .3s
        background-color #e2cd64
      }
      &_purple {
        color $color-dpurple
      }
      &_green {
        color $color-dgreen
      }
    }
  }
}