.clubs-choice{
   padding-right 5px
   margin-top 10px

   +do(900){
      padding-right 0
   }

   &__list{
      display flex
      flex-wrap wrap
      margin-bottom 10px
   }

   &__name{
      font-size 16px
      font-weight 700
   }

   &__descr{
      font-size 14px
      line-height 1.4

      span{
         font-weight 700
      }
   }
}