.crumbs{
   color $color-pink
   margin-bottom 10px

   &__item{
      position relative
      font-size 20px
      font-weight 700
      color inherit
      border-bottom 1px solid $color-lpink
      margin-right 30px
      transition .3s

      +do(425){
         font-size 16px
      }

      &:hover{
         border-color transparent
      }

      &:after{
         content ''
         position absolute
         top 9px
         right -22px
         spritus ('main:crumbs-arrow')
      }

      &:last-child{
         margin-right 0
         &:after{
            content none
         }
      }
   }
}


.crumbs_article{
   margin-bottom 30px
   .crumbs{ }
}