.events{

   &__cols{
      display flex
      flex-wrap wrap

      +do(900){
         flex-direction column-reverse
      }
   }

   &__col{
      &_left{
         flex 1 1
         margin-right 85px
      }

      &_right{
         flex 1 1
         max-width 160px
      }

      +do(900){
         flex 1 1 100%
         max-width 100%
         margin 0
      }
   }

   &__title{
      margin-bottom 65px

      +do(900){
         margin-bottom 35px
      }
   }
}


.events-nav{
   +do(900){
      display flex
      flex-wrap wrap
      justify-content space-around
      margin-bottom 40px
   }

   &__item{
      margin-bottom 21px
   }

   &__name{
      display inline-block
      position relative
      font-size 16px
      font-weight 700
      padding-right 30px
      cursor pointer
      border none
      color $color-main

      &:before{
         content ''
         position absolute
         top -15%
         left -5%
         right -35%
         bottom -15%
      }

      &:after{
         content ''
         position absolute
         top 2px
         right 0
      }

      &_sport{
         &:after{
            spritus('main:logo-sport-events')
         }
      }

      &_kids{
         &:after{
            spritus('main:logo-kids-events')
         }
      }

      &_spa{
         &:after{
            spritus('main:logo-spa-events')
         }
      }
   }

   &__toggle{
      display none
      padding-top 15px
   }

   &__list{
      margin 5px 0
   }

   &__section{
      padding-left 0
      margin-bottom 20px

      font-size 14px
      font-weight 600
      list-style-type none

      &:last-child{
         margin-bottom 0
      }

      a{
         padding 11px 13px 11px
         border-radius 3px
         border none
         color $color-main
      }

      &_active{
         a{
            background #6b27b2
            color #fff
         }
      }
   }
}


.events-list{
   margin-bottom 85px

   +do(500){
      margin-bottom 50px
   }

   &__next{
      position relative
      margin-top 60px

   }

   &__border{
      margin-top -55px
      margin-right -40px
      margin-left -35px
      margin-bottom 75px

      padding 55px 35px 60px
      border 1px solid #45c5d0

      .events-item{
         margin-bottom 40px

         &:first-child{
            margin-bottom 70px
         }
      }

      +do(1050){
         margin-right -10px
         margin-left -10px
      }

      +do(900){
         border-left none
         border-right none
         margin-right 0
         margin-left 0
         margin-bottom 40px
         padding 50px 0px 40px
      }

      +do(500){
         padding 0
         border none
      }
   }

   &__name{
      position absolute
      top -25px
      left 0
      padding 12px 30px 10px
      transform skew(-10deg)

      color #fff
      font-weight 700
      background #45c5d0

      span{
         display block
         transform skew(10deg)
      }

      +do(1050){
         left 0
      }

      +do(500){
         position relative
         left 0
      }
   }

   &__link{
      font-weight 700
   }

   &__action{

      +do(400){
         text-align center
      }
   }
}


.events-item{
   margin-bottom 75px

   &:last-child{
      margin-bottom 0
   }

   +do(500){
      margin-bottom 50px
   }

   &__header{
      position relative
      margin-bottom 15px

      img{
         width 100%
         height auto
         vertical-align middle
      }
   }

   &__img{
      border none
   }

   &__photos{
      display none
   }

   &__descr{
      display flex
      flex-wrap wrap
      font-weight 700
      margin-bottom 5px
   }

   &__info{
      position relative
      margin-right 20px

      &:last-child{
         margin-right 0
      }

      &:before{
         content ''
         position absolute
         left 0
      }

      &_date{
         padding-left 22px
         &:before{
            top 2px
            svg('date',15px,$color-pink)
         }
      }

      &_price{
         padding-left 26px
         &:before{
            top 3px
            svg('price',23px,$color-pink)
         }
      }
   }

   &__title{
      margin-bottom 11px
      font-size 36px
      font-weight 300
      line-height 1.2

      +do(800){
         font-size 30px
      }

      +do(500){
         font-size 26px
         margin-bottom 15px
      }

      +do(350){
         font-size 24px
      }
   }

   &__link{
      border-bottom 1px solid #cccccc
      color $color-main

      &:hover{
         color $color-pink
         border-color $color-lpink
      }
   }

   &__tags{
      display flex
      flex-wrap wrap
      margin-bottom -10px
   }

   &__tag{
      flex 0 0 auto
      padding 3px 15px
      margin-right 5px
      margin-bottom 10px
      border 1px solid currentColor
      border-radius 3px
      font-size 14px
      user-select none
      transition .3s

      +do(500){
         padding 3px 7px
         font-size 12px
      }

      &:hover{
         background currentColor
         span{
            color #fff
         }
      }

      &_filled{
         background currentColor
         cursor default
         span{
            color #fff
         }
      }

      &_turquoise{
         color #45c5d0
      }

      &_pink{
         color $color-pink
      }

      &_blue{
         color #00a2ff
      }

      &_violet{
         color #9059f7
      }

      &_green{
         color #64c88c
      }

      &_grey{
         color #575757
      }

      &_yellow{
         color #e2a718
      }
   }
}


.events-item_photos{
   margin-right -245px

   +do(900){
      margin-right 0
   }

   .events-item{

      &__descr{
         margin-bottom 18px
         color #cccccc
      }

      &__info{
         padding-left 0
         &:before{
            content none
         }
      }

      &__header{
         display flex
         flex-wrap wrap
      }

      &__img{
         flex 1 1

         .events-item__amount{
            display none

            +do(800){
               display block
               top initial
               left initial
               right 10px
               bottom 10px
               transform translate(0%,0%)
               font-size 36px
               background rgba($color-main, .4)
               padding 5px 10px 5px 5px
            }

            +do(400){
               font-size 28px
            }
         }
      }

      &__photos{
         display flex
         position relative
         flex 1 1 245px
         width 245px
         max-width 245px
         border none

         +do(800){
            display none

         }
      }

      &__photo{
         flex 1 1 64px
         max-width 64px
         background-position center center
         background-size cover
         background-repeat no-repeat
         overflow hidden
         box-shadow inset 20px 0 50px 1px $color-main
      }

      &__amount{
         position absolute
         top 50%
         left 50%
         transform translate(-50%,-50%)

         font-size 44px
         font-weight 700
         color #fff
      }
   }
}


.events-item_article{
   margin-bottom 35px

   &:last-child{
      margin-bottom 35px
   }

   .events-item{
      &__descr{
         margin-bottom 15px
      }
   }
}