.footer{
   background #fff
   padding 46px 0
   border-top 2px solid $color-dwhite
   +do(650){
      padding 25px 0
   }
   &__wrapper{

      +do(960){
         margin-left 30px
         margin-right 30px
      }

      +do(330){
         margin-left auto
         margin-right auto
      }
   }

   &__info{
      display flex
      flex-wrap wrap
      justify-content space-between
      margin-bottom 60px

      +do(920){
         flex-direction column
      }

      +do(768){
         margin-bottom 20px
      }
   }

   &__content{
      display flex
      flex-wrap wrap
      flex 1

      &_top{
         +do(768){
            flex-direction column
            margin-bottom 25px
         }
      }
   }

   &__list{
      display flex
      flex-wrap wrap
      flex-direction column
      flex 1 1 auto

      +do(920){
         margin-bottom 40px

         &_right{
            align-items flex-end
         }
      }

      +do(768){
         display none
         padding 10px
         margin-bottom 0
         background $color-dwhite

         &_visible{
            display block
            background transparent

            +do(497){
               margin-bottom 25px
            }
         }
      }

   }

   &__link{
      margin-bottom 18px

      font-family $font-helv
      font-size 14px
      font-weight 600

      a{
         color $color-main
         border-bottom 1px solid transparent
      }

      &:last-child{
         margin-bottom 0
      }

      &:hover{
         a{
            border-color $color-dgray
         }
      }

      +do(768){
         a{
            border-color $color-dgray
         }
      }

      &_colored_orange{
         a{
            position relative
            margin-left 30px
            color $color-orange
            font-weight 600
            border none

            span{
               position absolute
               top -2px
               left -33px
               svg('basketball', 20px, $color-orange)
               transition .3s
            }

            &:hover{
               span{
                  top -7px
               }
            }
         }

         +do(497){
            text-align center
         }
      }

      &_colored_blue{
         a{
            position relative
            margin-left 30px
            color $color-dblue
            font-weight 600
            border none

            span{
               position absolute
               top -2px
               left -33px
               svg('skull', 20px, $color-dblue)
               transition .3s
            }

            &:hover{
               span{
                  top -7px
               }
            }
         }

         +do(497){
            text-align center
         }
      }
   }

   &__contacts{
      line-height 1.5

      +do(920){
         display flex
         flex-wrap wrap
         flex-direction column
         align-items  flex-end
      }

      +do(497){
         flex-direction row
         justify-content space-around
      }

      &-content{
         margin-bottom 30px

         +do(920){
            text-align right
         }

         +do(497){
            text-align center
         }
      }

      &-title{
         a{
            font-size 14px
            font-weight 700
            color $color-main
            border none
         }

         &:hover{
            a{
               text-decoration underline
            }
         }
      }
   }

   &__address{
      font-weight 400

      +do(497){
         font-size 12px
      }

      +do(385){
         font-size 16px
      }
   }

   &__tel{

      a{
         color $color-main
         span{
            font-weight 700
         }
      }
   }


   &__bottom{
      display flex
      flex-wrap wrap
      justify-content space-between
      align-items center

      +do(713){
         align-items flex-start
      }

      +do(497){
         justify-content center
      }
   }

   &__copyright{
      position relative

      a{
         postition relative
         font-size 13px
         font-weight 600
         color $color-dgray
         border none
      }

      +do(521){
         margin-bottom 15px
      }

      &_logo{
         margin-right 80px
         a{
            &:before{
               content ''
               position absolute
               top -10%
               left -10%
               right -72%
               bottom -10%
            }

            &:after{
               content ''
               position absolute
               top 0
               right -80px
               spritus('main:creonit')
            }
         }

         +do(521){
            margin-top 15px
         }
      }
   }

   &__nav{
      flex 1 1 auto

      +do(768){
         border-bottom 2px solid $color-dblue
      }

      &-title{
         display none
         position relative
         padding 15px 10px 13px
         background $color-lilac
         cursor pointer

         +do(768){
            display block
         }

         span{
            font-size 14px
            font-weight 700
            color #fff
         }

         &:after{
            content ''
            position absolute
            top 15px
            right 20px
            svg('arrow-down', 20px, #fff)
            transition .3s
         }

         &_current{
            &:after{
               transform rotate(180deg)
            }
         }
      }
   }
}
