.groups{
   margin-bottom 25px
   &__list{
      display flex
      flex-wrap wrap
   }

   &__item{
      position relative
      flex-basis 25%
      width 25%
      min-height 270px
      border none

      &_empty{
         .groups__title{
            padding-right 0
         }
      }

      +do(1200){
         flex-basis 33.333%
         width 33.333%
      }

      +do(900){
         flex-basis 50%
         width 50%
      }

      +do(600){
         flex-basis 100%
         width 100%
      }

      &:before {
         content ''
         display block
         padding-bottom ((270*100)/350)%
      }

      &-wrapper{
         position absolute
         padding 20px 30px 40px 30px
         top 0
         left 0
         z-index 10

         +do(345){
            margin-right 0
         }
      }
   }

   &__layer{
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      background-repeat no-repeat
      background-size cover
      background-position center center

      &:before{
         content ''
         position absolute
         top 0
         left 0
         right 0
         bottom 0
         opacity .6
         z-index 2
      }

      &_lilac{
         &:before{
            background-color #8956ff
         }
      }

      &_blue{
         &:before{
            background-color #67bbfd
         }
      }

      &_orange{
         &:before{
            background-color #e27000
         }
      }

      &_green{
         &:before{
            background-color #b1dc3d
         }
      }

      &_grey{
         &:before{
            background-color #626262
         }
      }

      &_pink{
         &:before{
            background-color #f84b90
         }
      }

      &_turquoise{
         &:before{
            background-color #82dfe7
         }
      }

      &_violet{
         &:before{
            background-color #532da8
         }
      }
   }

   &__title{
      font-size 24px
      font-weight 400
      color #fff
      margin-bottom 20px
      padding-right 80px
      line-height 1.4

      +do(1500){
         font-size 20px
      }
   }

   &__class{
      margin-bottom 15px

      &:last-child{
         margin-bottom 0
      }

      +do(900){
         margin-bottom 50px
      }

      +do(720){
         margin-bottom 15px
      }

      +do(600){
         margin-bottom 80px
      }

      +do(490){
         margin-bottom 15px
      }
   }

   &__time{
      font-size 14px
      color #ac87ff

      +do(600){
         font-size 18px
      }

      +do(490){
         font-size 14px
      }
   }

   &__name,
   &__place{
      font-size 16px
      color #fff

      span{
         font-weight 700
         text-transform uppercase
      }


      +do(600){
         font-size 20px
      }

      +do(490){
         font-size 16px
      }
   }
}



.groups_lessons{

   +do(800){
      padding 0
   }

   .groups{

      &__item{
         flex-basis 50%
         width 50%
         min-height 380px

         &:hover{
            .groups__item-info{
               visibility visible
               opacity 1
            }
         }

         &:before {
            content ''
            display block
            padding-bottom ((380*100)/480)%
         }

         +do(700){
            flex-basis 100%
            width 100%

            &:before{
               content none
               display none
            }
         }

         +do(500){
            min-height 280px
         }

         &_big{
            flex-basis 100%
            width 100%
            min-height 380px

            &:before{
               content none
               display none
            }

            +do(500){
               min-height 280px
            }
         }

         &-wrapper{
            top 0
            left 0
            right 0
            bottom 0
            display flex
            flex-wrap wrap
            flex-direction column
            justify-content flex-end
            padding 20px 25px 20px 30px
         }

         &-info{
            position absolute
            top 0
            left 0
            right 0
            bottom 0
            z-index 11
            padding 120px 30px
            visibility hidden
            opacity 0
            transition visibility .3s, opacity 0.3s linear

            .groups__title{
               margin-bottom 0
            }

            &__descr{
               max-width 400px
               color #fff
               font-size 14px
               line-height 1.3
            }

            &_lilac{
               background-color #8956ff
            }

            &_black{
               background-color $color-main
            }

            &_blue{
               background-color #1dacff
            }

            &_orange{
               background-color #e27000
            }

            &_green{
               background-color #64c88c
            }

            &_green_dark{
               background-color #7caa00
            }

            &_grey{
               background-color #737879
            }

            &_pink{
               background-color $color-pink
            }

            &_turquoise{
               background-color #45c5d0
            }

            &_yellow{
               background-color #e2a718
            }

            &_brown{
               background-color #6b584d
            }

            &_red{
               background-color #e24a00
            }

            &_blue_light{
               background-color #00a2ff
            }
         }
      }

      &__title{
         font-size 36px
         font-weight 300
         color #fff
         text-transform uppercase
         padding-right 0
         margin-bottom 9px
         line-height 1.2

         +do(500){
            font-size 32px
         }
      }

      &__layer{

         &:before{
            content ''
            position absolute
            top 0
            left 0
            right 0
            bottom 0
            opacity .6
         }

         &_lilac{
            &:before{
               background-color #8956ff
            }
         }

         &_black{
            &:before{
               background-color $color-main
            }
         }

         &_blue{
            &:before{
               background-color #1dacff
            }
         }

         &_orange{
            &:before{
               background-color #e27000
            }
         }

         &_green{
            &:before{
               background-color #64c88c
            }
         }

         &_green_dark{
            &:before{
               background-color #7caa00
            }
         }

         &_grey{
            &:before{
               background-color #737879
            }
         }

         &_pink{
            &:before{
               background-color $color-pink
            }
         }

         &_turquoise{
            &:before{
               background-color #45c5d0
            }
         }

         &_yellow{
            &:before{
               background-color #e2a718
            }
         }

         &_brown{
            &:before{
               background-color #6b584d
            }
         }

         &_red{
            &:before{
               background-color #e24a00
            }
         }

         &_blue_light{
            &:before{
               background-color #00a2ff
            }
         }
      }

      &-toggler{
         position absolute
         top 32px
         right 25px
         align-self flex-end
         color #fff
         font-weight 400

         +do(500){
            position relative
            top 0
            right 0
            align-self initial
            margin-bottom 5px
         }

         &__item{
            span{
               font-size 16px

               +do(360){
                  font-size 14px
               }
            }
         }

         &__name{
            font-weight 700
            border-bottom 1px dashed rgba(#fff, .75)

            //background linear-gradient(left, #fff 0%, #fff 1px, rgba(#fff, 0) 1px,  rgba(#fff, 0) 2px)
            //background-size 3px 1px
            //background-position left bottom
            //background-repeat repeat-x
            //text-decoration none
         }
      }
   }
}


.is-mobile{
   .groups_lessons{
      .groups{

         &__item {

            &:hover {
               .groups__item-info {
                  visibility hidden
                  opacity 0
               }
            }
         }
      }
   }
}