.classes{}

.classes-about{
   &__wrapper{
      margin-bottom 60px

      +do(550){
         margin-bottom 30px
      }
   }

   &__header{
      margin-bottom 35px

      +do(425){
         margin-bottom 20px
      }
   }

   &__descr{
      display flex
      flex-wrap wrap
      line-height 1.5

      +do(852){
         align-items flex-start
      }

      +do(700){
         flex-direction column
         align-items center
      }

      h1{
         margin-bottom 10px

         +do(910){
            font-size 38px
         }

         +do(545){
            font-size 34px
         }

         +do(425){
            font-size 28px
         }

         +do(375){
            font-size 26px
         }
      }
   }

   &__col{
      flex 2 1
      margin-right 85px

      &:first-child{
         max-width 575px
      }

      &:last-child{
         flex 1 1
         margin-right 0
      }

      +do(975){
         margin-right 35px
      }

      +do(700){
         margin-bottom 10px

         &:last-child{
            margin-bottom 0
         }
      }
   }
}


.classes-action{
   display flex
   flex-wrap wrap
   justify-content space-between
   margin-left -25px
   margin-right -25px

   +do(700){
      flex-direction column-reverse
   }

   .classes{
      &-link{
         position relative
         flex 1 1 50%
         min-height 270px
         border-top 2px solid $color-dwhite
         border-bottom none

         color #fff
         transform translate3d(0,0,0) skew(-10deg)
         font-size 0
         overflow hidden

         +do(825){
            min-height 200px
         }

         +do(700){
            flex 1 1 100%
         }

         +do(425){
            min-height 150px
         }

         +do(360){
            min-height 120px
         }

         &_next{

            .classes-link__wrapper{
               //right ((530*100)/1400)%
               right 260px

               +do(1200){
                  right 180px
               }

               +do(1025){
                  right 80px
               }

               +do(825){
                  right 50px
               }
            }

            .classes-link__title{
               border-bottom 2px solid rgba(#fff, .4)
               &:after{
                  right -45px
                  spritus('main:link-arrow-white')
               }
            }
         }

         &_prev{
            .classes-link__layer{
               background #fff
            }

            .classes-link__wrapper{
               //left ((335*100)/1400)%
               left 265px

               +do(1200){
                  left 155px
               }

               +do(1025){
                  left 100px
               }

            }

            .classes-link__title{
               color $color-pink
               border-bottom 2px solid rgba($color-pink, .4)

               &:after{
                  left -20px
                  spritus('main:link-arrow-pink')
               }
            }
         }


         &:hover{
            .classes-link__title{
               border-color transparent
            }
         }

         &__bg{
            position absolute
            top 0
            left -25px
            right 0
            bottom 0
            background-repeat no-repeat
            background-size cover
            background-position center center
            transform skew(10deg)
         }

         &__layer{
            position absolute
            top 0
            left 0
            right 0
            bottom 0
            opacity .6
            z-index 5

            &_blue{
               background-color #00a2ff
            }

            &_pink{
               background-color $color-pink
            }
         }

         &__wrapper{
            position absolute
            top 50%
            margin-right 50px
            z-index 10
            transform skew(10deg) translateY(-50%)
         }

         &__title{
            font-size 30px
            font-weight 700
            line-height 1
            transition .3s

            +do(825){
               font-size 24px
            }

            +do(500){
               font-size 20px
            }

            +do(425){
               font-size 18px
            }

            +do(360){
               font-size 16px
            }

            +do(320){
               font-size 15px
            }

            &:after{
               content ''
               position absolute
               top 50%
               transform translate(-50%,-40%)
            }
         }
      }
   }
}