.header {
   flex 0 0 auto
   margin-bottom 45px

   +do(768){
      margin-bottom 5px
   }

   &__wrapper{}

   &__top{
      position fixed
      top 0
      left 0
      right 0
      bottom 0
      height 50px
      background transparent
      box-sizing border-box
      z-index 99

      &-content{
         display flex
         flex-wrap wrap
         justify-content space-between
      }
   }

   &__nav{
      display flex
      flex-wrap wrap
      flex-direction row
      position relative

      &:before{
         content ''
         position absolute
         top 0
         left -249%
         background $color-header
         width 250%
         height 100%
         transform skew(-10deg)
      }

      &:after{
         content ''
         position absolute
         top 0
         right -349%
         background $color-header
         width 350%
         height 100%
         transform skew(-10deg)
      }

      +do(650){
         margin-left 40px
      }

      &-item{
         padding 15px 35px 14px
         transform skew(-10deg)
         background $color-header
         margin-left -1px
         border none
         box-sizing border-box

         +do(700){
            padding 18px 25px 14px
         }

         +do(500){
            padding 18px 15px 14px
         }

         +do(450){
            padding 20px 15px 14px
         }

         +do(360){
            padding 20px 10px 14px
         }

         :root:not([touch]) &:hover{
            background $color-dwhite
         }

      }

      .header__nav-item_active{
         background #fff
         cursor default

         :root:not([touch]) &:hover{
            background #fff
         }
      }

      &-text{
         font-family $font-helv
         font-size 14px
         font-weight 700
         color $color-main
         text-transform uppercase
         transform skew(10deg)

         +do(700){
            font-size 12px
         }

         +do(450){
            font-size 10px
         }
      }
   }

   &__actions{
      display flex
      flex-wrap wrap
      flex-direction row
      align-items center

   }

   &__mail,
   &__dashboard{
      position relative
      margin-left 30px

      font-family $font-helv
      font-weight 700
      font-size 14px
      color $color-main
      border none

      &:nth-child(1){
         margin-right 30px

         +do(500){
            margin-right 5px
         }

         +do(340){
            margin-right 0px
         }
      }

      &:hover{
         color $color-lilac
         .header__icon{
            top -4px

            +do(720){
               top 0px
            }
         }
      }

      &:before{
         content ''
         position absolute
         top -50%
         left -35%
         right -1%
         bottom -50%

         +do(720){
            content none
         }
      }

      span{
         +do(720){
            display none
         }
      }
   }

   &__icon{

      position absolute
      top -1px
      left -30px
      transition .3s

      +do(720){
         top 50%
         transform translate(-50%,-50%)

         &:before{
            content ''
            position absolute
            top -50%
            left -50%
            right -50%
            bottom -50%
         }
      }
   }

   &__mail{
      .header__icon{
         svg('mail', 20px, $color-main)

         +do(430){
            svg('mail',18px,$color-main)
         }
      }

      &:hover{
         .header__icon{
            svg('mail',20px,$color-lilac)

            +do(430){
               svg('mail',18px,$color-lilac)
            }
         }
      }

      &:focus{
         .header__icon{
            svg('mail',20px,$color-lilac)

            +do(430){
               svg('mail',18px,$color-lilac)
            }
         }
      }
   }

   &__dashboard{
      .header__icon{
         svg('user',20px, $color-main)

         +do(430){
            svg('user',18px,$color-main)
         }
      }

      &:hover{
         .header__icon{
            svg('user',20px, $color-lilac)

            +do(430){
               svg('user',18px,$color-lilac)
            }
         }
      }

      &:focus{
         .header__icon{
            svg('user',20px,$color-lilac)

            +do(430){
               svg('user',18px,$color-lilac)
            }
         }
      }
   }

   &__burger{
      display none
      position relative
      size 50px
      padding-top 23px
      padding-left 12px
      margin-left 10px
      margin-right -15px
      border 1px solid $color-dwhite
      z-index 10
      box-sizing border-box
      cursor pointer

      +do(500){
         margin-left 5px
      }

      +do(375){
         margin-left -10px
      }

      +do(380){
         margin-right -15px
         margin-left -15px
      }

      +do(330){
         margin-left -13px
      }

      +do(325){
         margin-right -5px
         margin-left -15px
      }

      &-wrapper{
         width 25px
      }


      span{
         display block
         position relative
         height 3px
         width 100%
         background $color-main
         transition all 0.5s
         backface-visibility hidden
         transform translate3d(0,0,0)
         &:after,
         &:before{
            content ''
            position absolute
            left 0
            height 3px
            width 100%
            background $color-main
            transition all .6s
            backface-visibility hidden
         }

         &:before{
            top -8px
         }

         &:after{
            top 8px
         }
      }

      +do(768){
         display block
      }

      &_open{

         .header__burger-wrapper{
            transform rotate(45deg)
         }
         span{
            &:after{
               transform translate(0px, -8px) rotate(-90deg)
            }

            &:before{
               transform translate(0px, 8px) rotate(-90deg)
            }
         }
      }
   }



   &__middle{
      display flex
      position relative
      flex-wrap wrap
      justify-content space-between
      align-items center
      margin-top 76px
      margin-bottom 32px

      +do(650){
         flex-direction column
         align-items center
      }

      +do(600){
         margin-bottom 25px
      }

   }

   &__logo{
      spritus('main:logo-black')
      border none
      +do(650){
         display none
      }

      &_small{
         position absolute
         top 50%
         left -30px
         spritus('main:logo-small')
         transform translate(-50%,-50%)
         max-width 0
         transition .3s
         z-index 10

         +do(650){
            display block
            max-width 34px
         }
      }
   }


   &__contacts{
      display flex
      flex-wrap wrap
      flex-direction row
      justify-content space-between

      +do(870){
         flex-direction column
      }

      +do(650){
         flex-direction row
         margin-bottom 15px
      }

      +do(425){
         flex-direction column
         margin-bottom 20px
      }

      &-phone{
         margin-right 75px

         font-size 20px
         font-weight 300

         &:last-child{
            margin-right 0
         }

         a{
            color inherit
         }

         span{
            font-weight 700
         }

         +do(950){
            margin-right 35px
         }

         +do(870){
            margin-right 0
            margin-bottom 10px

            &:last-child{
               margin-bottom 0
            }
         }

         +do(650){
            margin-right 50px
            font-size 18px
         }

         +do(425){
            margin-right 0
            font-size 17px
         }
      }

      &-text{
         display flex
         justify-content flex-end
         font-size 13px
         font-weight 400
         line-height 1.1

         +do(870){
            justify-content center
         }

         +do(650){
            justify-content flex-end

            &_right{
               justify-content flex-start
            }
         }

         +do(425){
            justify-content center
         }
      }
   }


   &__bottom{
      background $color-lblack
      transform skew(-10deg)
      transform-origin left top

      &_open{
         +do(768){
            position fixed
            top 49px
            right 0
            transform skew(0deg)
            overflow scroll
            max-height calc(90vh - 55px)
            background #fff
            border 1px solid $color-dwhite
            z-index 11
         }


         .header__menu{
            +do(768){
               display block
               padding 25px 10px 25px
            }

            +do(550){
               padding 15px 10px 15px
            }

            +do(425){
               padding 15px 5px 15px
            }

            +do(330){
               padding 15px 4px 15px
            }
         }

         .header__menu-item{
            +do(768){
               position relative
               transform skew(0deg)
               margin-left 31px
               margin-bottom 15px

               &:after{
                  content ''
                  position absolute
                  top 50%
                  left -22px
                  size 5px
                  background $color-pink
                  transform translate(-50%,-50%)
               }
               &:last-child{
                  margin-bottom 0
               }

               a{
                  color $color-main
                  text-shadow 2px 3px $color-dwhite

                  +do(550){
                     font-size 13px
                  }

                  +do(425){
                     font-size 12px
                  }
               }

               &_pink{
                  margin-left 0
                  a{
                     color $color-pink
                  }

                  &:after{
                     content none
                  }
               }
            }
         }

      }
   }

   &__menu{
      display flex
      flex-wrap wrap
      justify-content space-around
      align-items center
      padding 12px 48px 15px 38px

      +do(768){
         display none
      }

      &-item{
         transform skew(10deg)

         a{
            position relative
            font-size 20px
            font-weight 700
            color #fff
            border none

            &:hover{
               color $color-lpink
            }

            &:after{
               content ''
               position absolute
               top -50%
               left -15%
               right -15%
               bottom -50%
            }

            +do(780){
               font-size 17px
            }

            +do(680){
               font-size 15px
            }
         }

         &_pink{
            padding-left 40px

            +do(780){
               padding-left 35px
            }

            +do(680){
               padding-left 30px
            }

            a{
               color $color-pink

               &:hover{
                  color $color-pink
               }

               &:after{
                  content ''
                  position absolute
                  top -15%
                  left -35%
                  right -15%
                  bottom -15%
               }
            }

            &:before{
               content ''
               position absolute
               top 0
               left 0
               svg('date',25px,$color-pink)

               +do(780){
                  svg('date',22px,$color-pink)
               }

               +do(680){
                  svg('date',20px,$color-pink)
               }
            }
         }
      }
   }
}


.header_white{
   .header {
      &__nav {
         &:before,
         &:after{
            background #fff
         }

         &-item{
            background #fff

            &_active{
               background transparent
               cursor default
               .header__nav-text{
                  color #fff
               }

               &:hover{
                  background transparent
               }
            }
         }
      }

      &__contacts{
         color #fff
      }

      &__logo{
         spritus('main:logo')
         &_small{
            spritus('main:logo-small')
         }
      }
   }
}
