$input-label {
   transition-timing-function cubic-bezier(.4,0,.2,1)
   transition-duration .2s
   pointer-events none
   z-index 10
   position absolute
   top 23px
   left 20px
   right 0
   bottom 0
   color $color-lblue
   font-family $font-helv
   font-size 16px
   font-weight 600
}

$input-label_top {
   top 5px
   font-size 12px
}

.input{
   display block
   position relative
   margin-bottom 30px
   input,
   textarea {
      position relative
      padding 25px 20px 21px
      background $color-lgray
      font-family $font-helv
      font-size 16px
      font-weight 600
   }
   &__error {
      pointer-events none
      opacity 0
      position absolute
      top 100%
      right 0
      left 0
      font-size 12px
      font-weight 600
      color $color-pink
      margin-top 3px
   }
   &__label {
      @extend $input-label
   }

   &.is-error {
      //@extend $input-label
      //@extend $input-label_top
      input,
      textarea {
         border-color $color-pink
      }

      & ^[0] {
         &__error {
            pointer-events auto
            opacity 1
         }
      }
   }

   &.is-focused {
      & ^[0] {
         &__label {
            @extend $input-label_top
         }
      }
   }

   &.is-filled {
      & ^[0] {
         &__label {
            @extend $input-label_top
         }
      }
   }

   //&_error {
   //   z-index 10
   //   border-color $color-pink
   //   & ^[0] {
   //      &__label {}
   //      &__error {
   //         opacity 1
   //      }
   //   }
   //   &.is-focused ^[0],
   //   &.is-filled ^[0] {
   //      &__label {
   //         opacity 0
   //      }
   //      &__error {
   //         opacity 1
   //      }
   //   }
   //}
}

