.instagram{

   border-top 2px solid $color-dwhite

   &__content{
      display flex
      flex-wrap wrap
      padding 95px 0

      +do(900){
         padding 45px 0
      }
   }

   &__col{
      &_left{
         flex 1 1 70%
         margin-right 25px
      }

      &_right{
         display none
         flex 1 1 20%

         .instagram__header{
            margin-bottom 40px
         }
      }

      +do(900){
         flex 1 1 100%
         margin-right 0
      }

   }

   &__header{
      margin-bottom 32px
   }

   &__title{
      display inline
      margin-right 10px
      font-size 44px
      font-weight 300

      &:last-child{
         margin-right 0
      }

      +do(600){
         font-size 38px
      }

      +do(500){
         font-size 30px
      }
   }

   &__main{
      display flex
      flex-wrap wrap
   }

   &__item{
      position relative
      flex 1 1 25%
      max-width 25%
      min-height 240px
      overflow hidden

      +do(900){
         flex 1 1 33.333%
         max-width 33.333%
      }

      +do(700){
         flex 1 1 50%
         max-width 50%
      }

      +do(500){
         flex 1 1 100%
         max-width 100%
      }
   }

   &__link{
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      background-repeat no-repeat
      background-position center center
      background-size cover
      z-index 2
   }

   &__name{
      position absolute
      right 0
      bottom 0
      color #fff
      padding 5px 15px 2px 15px
      margin-right -3px
      transform skew(-10deg)
      z-index 3

      &__overlay{
         position absolute
         top 0
         left 0
         right 0
         bottom 0
         background $color-main
         opacity .7
         z-index 4
      }

      &__content{
         position relative
         transform skew(10deg)
         opacity 1
         z-index 5
      }

      span{
         font-size 14px
         font-weight 600
         border-bottom 2px solid rgba(#fff,.3)
      }
   }

   &__descr{
      font-size 20px
      font-weight 700
   }
}


.instagram_events{
   border none
   background #f7ffe6
   .instagram{

      &__content{

         +do(900){
            padding 40px 0 10px
         }
      }

      &__col{
         &_left{
            +do(900){
               margin-bottom 20px
            }
         }

         &_right{
            display flex
            flex-wrap wrap
            flex-direction column

            .instagram__header{
               margin-top 25px
            }

            +do(900){
               display flex
               flex-wrap wrap
               flex-direction column-reverse

               .instagram__header{
                  margin-top 0
               }

               .instagram__main{
                  display block
                  margin-bottom 10px
               }
            }
         }
      }

      &__item{
         flex 1 1 33.333%
         max-width 33.333%
         min-height 230px

         +do(700){
            flex 1 1 50%
            max-width 50%
            min-height 230px
         }

         +do(500){
            flex 1 1 100%
            max-width 100%
            min-height 230px
         }
      }

      &__descr{
         +do(900){
            margin-bottom 5px
         }
      }
   }
}