.section{
   display flex
   position relative
   flex-wrap wrap
   justify-content space-between
   min-height 700px

   &__col{
      flex 1

      &_left{

      }

      &_right{

      }
   }

   &__bg{
      position absolute
      top 0
      bottom 0

      z-index 9
      .section__col_left &{
         right 45%
         left -10%
         transform skew(-10deg)
      }

      .section__col_right &{
         right 0
         left 45%
         background  right 0 / cover no-repeat
      }


      &_colored{
         background $color-lilac
         z-index 10
      }
   }
}