.socials{
    display flex
    position relative
    flex-wrap wrap
    justify-content space-between
    align-items flex-start

    &__block{
        position relative
        background transparent
    }

    &__item{
        position relative
        size 35px
        margin-right 30px
        border-radius 50%
        background transparent
        box-sizing border-box
        transition .3s
        cursor pointer

        &:after{
            content ''
            position absolute
            top 50%
            left 18px
            size 22px
            transform translate(-50%,-50%)
            transition .3s
        }

        &:before{
            content ''
            position absolute
            top -50%
            left 0
            right 0
            bottom 0
        }


        &:last-child{
            margin-right 0
        }

        +do(360){
            margin-right 20px
        }

        &_tw{
            &:after{
                social-icon('tw', $color-tw)
            }

            &:hover{
                background $color-tw
                &:after{
                    social-icon('tw', #fff)
                }
            }

            +do(1050){
                background $color-tw

                &:after{
                    social-icon('tw', #fff)
                }
            }
        }

        &_fb{
            &:after{
                social-icon('fb', $color-fb)
            }

            &:hover{
                background $color-fb
                &:after{
                    social-icon('fb', #fff)
                }
            }

            +do(1050){
                background $color-fb

                &:after{
                    social-icon('fb', #fff)
                }
            }
        }

        &_ok{
            &:after{
                left 17px
                social-icon('ok', $color-ok)
            }

            &:hover{
                background $color-ok
                &:after{
                    social-icon('ok', #fff)
                }
            }

            +do(1050){
                background $color-ok

                &:after{
                    social-icon('ok', #fff)
                }
            }
        }

        &_vk{

            &:after{
                left 17px
                social-icon('vk', $color-vk)
            }

            &:hover{
                background $color-vk
                &:after{
                    social-icon('vk', #fff)
                }
            }

            +do(1050){
                background $color-vk

                &:after{
                    social-icon('vk', #fff)
                }
            }
        }

        &_yt{

            &:after{
                left 18px
                svg('shi', 22px, $color-yt)
            }

            &:hover{
                background $color-yt
                &:after{
                    svg('shi', 22px, #fff)
                }
            }

            +do(1050){
                background $color-yt

                &:after{
                    svg('shi', 22px, #fff)
                }
            }
        }
    }


    &-tooltip{
        display none
        position absolute
        top -140%
        left 20px
        background #fff

        max-width 195px
        padding 7px 30px
        border-radius 30px
        transform translate(-50%,-50%)
        box-sizing border-box
        box-shadow 0px 4px 20px 2px #e3e4e4

        &__wrapper{
            display flex
            justify-content space-around
            align-items center
        }

        &__item{
            flex 1
            margin-right 20px

            display flex
            flex-direction column
            align-items center
            border none

            &:last-child{
                margin-right 0
            }
        }

        &__icon{
            position relative
            margin-bottom 7px

            &_sport{
                spritus('main:logo-sport-small')
            }

            &_kids{
                spritus('main:logo-kids-small')
                margin-bottom 12px
            }

            &_spa{
                spritus('main:logo-spa-small')
            }
        }

        &__text{
            font-size 11px
            font-weight 700
            color $color-main
        }
    }
}


.socials_events{
    justify-content flex-start
    align-items initial
    .socials{
        &__item{
            size 30px
            margin-right 25px
            border none
            &:last-child{
                margin-right 0
            }

            &:hover{
                background transparent
            }

            +do(1050){
                background transparent
            }

            &_fb{

                &:hover{
                    &:after{
                        social-icon('fb', $color-fb)
                    }
                }

                +do(1050){
                    &:after{
                        social-icon('fb', $color-fb)
                    }
                }
            }

            &_ok{
                &:hover{
                    &:after{
                        social-icon('ok', $color-ok)
                    }
                }

                +do(1050){
                    &:after{
                        social-icon('ok', $color-ok)
                    }
                }
            }

            &_vk{
                &:hover{
                    &:after{
                        social-icon('vk', $color-vk)
                    }
                }

                +do(1050){
                    &:after{
                        social-icon('vk', $color-vk)
                    }
                }
            }
        }
    }
}