.timetable{
   margin 85px 0 60px

   +do(700){
      display none
   }

   &__link{
      font-size 20px
      font-weight 700
      color $color-pink
      border-bottom 1px solid $color-lpink
      transition .3s

      &:hover{
         border-color transparent
      }
   }

   &__title{
      display inline-block
      margin-right 25px
      vertical-align sub
      @extend h1
      margin-bottom 37px
   }


   &-list{
      display flex
      flex-wrap wrap

      &_small{
         flex-direction column

         +do(465){
            flex-direction row
         }

         .timetable-list__title{
            font-size 13px
            font-weight 600
            color #fff
         }

         .timetable-list__club{

            &:last-child{
               .timetable-list__item{
                  transform skew(-10deg) translate(-10%,0)

                  +do(465){
                     transform skew(-10deg)
                  }
               }
            }
         }

         .timetable-list__item{
            flex 0 auto
            width auto
            height 67px
            margin 0 5px 17px
            padding 15px 25px 13px

            +do(465){
               flex-basis 100%
               max-width 100%
               padding 15px 10px 13px
            }
         }

         .timetable-list__name{
            font-size 18px
            margin-bottom 5px

            +do(465){
               font-size 13px
            }
         }

         .timetable-list__time{
            font-size 14px
            font-weight 600

            +do(465){
               font-size 12px
            }
         }
      }

      &__club{
         flex 1 1
         margin-right 75px

         &:last-child{
            margin-right 0
         }
      }

      &__title{
         font-size 24px
         font-weight 700
         margin-bottom 10px
         padding-left 25px
      }

      &-content{
         display flex
         flex-wrap wrap
         //justify-content space-between
         margin 0 -10px 10px
      }

      &__item{
         flex 1 1 40%
         max-width 50%
         height 110px
         margin 0 10px 17px
         padding 15px 10px 20px 20px
         transform skew(-10deg)
         box-sizing border-box

         &:nth-child(2) ~ & {
            transform skew(-10deg) translate(-9%,0)

            +do(900){
               transform skew(-10deg)
            }
         }

         +do(900){
            flex 1 1 100%
            max-width 100%
         }

         &_pink{
            background $color-pink
         }

         &_blue{
            background #00a2ff
         }

         &_green{
            background #9bc725
         }

         &_grey{
            background #575757
         }

         &_violet{
            background #9059f7
         }

         &_green_dark{
            background #64c88c
         }

         &_turquoise{
            background #45c5d0
         }

         &_orange{
            background $color-orange
         }


         &-content{
            transform skew(10deg)
            color #fff
            font-weight 700
            line-height 1.3
         }
      }

      &__name{
         font-size 16px
         text-transform uppercase
         margin-bottom 10px
      }

      &__time{
         font-size 13px
      }

      &__place{
         font-size 13px
         font-weight 400
      }
   }
}