.trial{

   +do(320){
      padding-left 10px
      padding-right 10px
   }

   &__content{
      display flex
      flex-wrap wrap
      justify-content space-between
      padding 90px 0 80px

      +do(760){
         flex-direction column
         padding 90px 40px 80px
      }

      +do(425){
         padding 90px 0px 35px
      }
   }

   &__col{
      flex 1 1

      h1{
         margin-bottom 22px

         +do(855){
            font-size 36px
         }

         +do(550){
            font-size 32px
         }

         +do(400){
            font-size 28px
         }
      }

      +do(760){
         &:first-child{
            margin-bottom 40px
         }
      }

   }


   &__text{
      font-size 18px
      font-weight 400
      padding-right 62px

      span{
         font-weight 700
         background url('/images/yellow-splash.png')
         background-repeat no-repeat
         background-size cover
      }

      +do(550){
         font-size 16px
         padding-right 0
      }
   }
}
